<?php if (strpos($this->classname,'half') !== false) : ?>
<!-- <div class="large-6 columns"> -->
	<?php if (!empty($this->title) && is_string($this->title)): ?>
		    <h3><?php echo $this->title ?></h3>
		<?php endif; ?>
	<div class="inner">
		<?php 
			if ($this->classname != 'redblock'){
				echo apply_filters('the_content', $this->post->post_content);
			}			
		?>
	</div>
		
<!-- </div> -->
<?php elseif (strpos($this->classname,'formtext') !== false): ?>
	<?php echo apply_filters('the_content', $this->post->post_content); ?>
<?php endif; ?>

