<article class="small-12 medium-4 large-6 columns package" >
	<a href="<?php echo get_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>">
		<?php if(get_post_thumbnail_id(get_the_ID())): ?>
			<div class="inner" style="background-image: url(<?php echo wp_get_attachment_url( get_post_thumbnail_id() ); ?>);"></div>
		<?php endif; ?>
	</a>
</article>
