<?php if (isset($this->attachment_id) && is_numeric($this->attachment_id)): ?>
	<div class="image">
    	<?php echo wp_get_attachment_image($this->attachment_id, 'card', false, array('class' => '')); ?>
    </div>
<?php endif ?>

<div class="text <?php if (!isset($this->attachment_id) || !is_numeric($this->attachment_id)): ?>full<?php endif ?>">
	<?php if ( isset($this->title) && is_string($this->title) && $this->title != '' ): ?>
		<h2><?php echo apply_filters('the_title', $this->title) ?></h2>
	<?php endif ?>

	<?php echo apply_filters('the_content', $this->post->post_content) ?>

	<?php if (!empty($this->url) && is_string($this->url)): ?>
	    <?php echo str_replace('collapsed','button arrow',$this->url) ?>
	<?php endif ?>
</div>