/******************
 * SCSS Variables   *
 ******************/

//== Typography
$fnt-default: 				'ff-dagny-web-pro';
$fnt-head: 					'ff-karbid-text-web-pro';

$fnt-small-size:       		13px;
$fnt-default-size:     		16px;
$fnt-medium-size:      		18px;
$fnt-large-size:       		24px;

$fnt-line-height:      		26px;

//== Colors
$clr-white: 				#ffffff;
$clr-grey:					#707e8a;
$clr-grey-dk:				#5b6770;
$clr-grey-bg:				#edf0f3;
$clr-text:					#5b6770;
$clr-title:					#2b2c2f;

$clr-main: 					#ea6400;
$clr-main-lt: 				#ff6e00;
$clr-second: 				#00aeef;
$clr-second-dk: 			#009dd6;
$clr-second-lt:				#00bbff;

$clr-footer:				#34383b;
$clr-footer-dk:				#2a2d2f;
$clr-border:				#c1c5c8;
$clr-border-lt:				#e3e6e9;

$clr-frm-error:				#e63312;
$clr-frm-success:			#4d7e1d;

//== Blocks
$small-block:				125px;
$medium-block:				250px;
$large-block:				525px;
$full:						100%;
$half:						50%;

//== Margins & Paddings
$mp-tiny:					2px;
$mp-small: 					15px;
$mp-medium: 				30px;
$mp-large: 					60px;
$mp-huge: 					90px;
