<?php if (isset($this->attachment_id) && is_numeric($this->attachment_id)): ?>

	<?php
		$title = get_the_title( $this->attachment_id );
		$desc = strip_tags(apply_filters('the_excerpt', get_post_field('post_excerpt', $this->attachment_id)));
		//$desc = strip_tags(apply_filters('the_content', get_post_field('post_content', $this->attachment_id)));
		$attachment = wp_get_attachment_image_src( $this->attachment_id, 'homepage-header');
	?>

    <div class="slide" style="background: url('<?php echo $attachment[0]; ?>') no-repeat center top / cover;">
		<div class="row">
			<div class="info large-7 medium-8 columns">
				<h2><?php echo $title; ?></h2>
				<p><?php echo $desc;  ?></p>
				<a class="readmore button arrow" href="<?php echo get_permalink(get_option('theme_page_demo')) ?>"><?php _e('vraag een gratis demo aan'); ?></a>
			</div>
		</div>
	</div>

<?php endif ?>

	