<footer class="footer <?php if(!is_front_page()): ?>grey<?php endif; ?>">
	<div class="dots"></div>

	<div class="top">

		<div class="service">
			<div class="row">
			<img class="bol" src="<?php bloginfo('stylesheet_directory') ?>/assets/img/bol.png" alt="<?php bloginfo('name') ?>">
				<h2 class="tagline"><?php echo html_entity_decode(get_bloginfo('description')) ?></h2>

				<div class="large-6 columns margbot">
					<div class="row">
						<div class="large-6 medium-6 columns">
							<h3><?php _e('Vragen of hulp nodig?'); ?></h3>
							<?php echo $this->phone(get_option('theme_company_phone')) ?>
							<a class="email" href="mailto:<?php echo get_option('theme_company_email') ?>"><?php echo get_option('theme_company_email') ?></a>	
							<a class="readmore button invert arrow dark" href="<?php echo get_permalink(get_option('theme_page_contact')) ?>"><?php _e('Contactgegevens'); ?></a>				
						</div>
						<div class="large-6 medium-6 columns">
							<h3><?php _e('Service en support'); ?></h3>
							<?php echo $this->menu('service') ?>
						</div>
					</div>
					
				</div>
					

				<div class="large-6 columns">
					<?php echo $this->sidebarArea('footer-widgets') ?>
				</div>
			</div>
		</div>

		<div class="social">
			<div class="row">
				<div class="large-12 columns">
					<div class="dotted-divider"></div>
				</div>
				<div class="large-6 columns">
					<h2><?php _e('Ontvang als eerste het laatste nieuws en software updates:'); ?></h2>
				</div>
				<div class="large-6 columns">
					<div class="row">
						<div class="large-8 medium-8 columns">
							<div class="newsletter">
								<?php gravity_form( get_option('theme_form_newsletter'), false, false, false, null, false, 100 ); ?>
							</div>
						</div>
						<div class="large-4 medium-4 columns">
							<div class="socialbuttons">
								<?php if(get_option('theme_socialmedia_youtube')): ?>
									<a href="<?php echo get_option('theme_socialmedia_youtube') ?>" target="_blank"><i class="fa fa-youtube"></i></a>
								<?php endif; ?>
								<?php if(get_option('theme_socialmedia_linkedin')): ?>
									<a href="<?php echo get_option('theme_socialmedia_linkedin') ?>" target="_blank"><i class="fa fa-linkedin-square"></i></a>
								<?php endif; ?>
								<?php if(get_option('theme_socialmedia_twitter')): ?>
									<a href="<?php echo get_option('theme_socialmedia_twitter') ?>" target="_blank"><i class="fa fa-twitter"></i></a>
								<?php endif; ?>
								<?php if(get_option('theme_socialmedia_googleplus')): ?>
									<a href="<?php echo get_option('theme_socialmedia_googleplus') ?>" target="_blank"><i class="fa fa-google-plus"></i></a>
								<?php endif; ?>
								<?php if(get_option('theme_socialmedia_facebook')): ?>
									<a href="<?php echo get_option('theme_socialmedia_facebook') ?>" target="_blank"><i class="fa fa-facebook-square"></i></a>
								<?php endif; ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="row">
			<div class="medium-6 medium-push-6 columns">
				<?php echo $this->menu('footer') ?>
			</div>
			<div class="medium-6 medium-pull-6 columns">
				<div class="site-generator">
					<span class="copyright">&copy; <?php echo date('Y') ?> <?php echo get_bloginfo('name') ?></span>
					<span class="divider">|</span>
					<span class="realisatie">Realisatie: <a href="http://www.webwijs.nu" target="_blank" title="Realisatie door Webwijs">Webwijs</a>
				</div>
			</div>
		</div>
	</div>
</footer>
