<header class="header">

	<section class="mainnav">
		<div class="row">
			<div class="columns large-2 show-for-large nopad-right">
				<a class="logo" href="<?php echo home_url('/') ?>" title="<?php bloginfo('name') ?>">
					<img class="bol" src="<?php bloginfo('stylesheet_directory') ?>/assets/img/bol.png" alt="<?php bloginfo('name') ?>">
					<img src="<?php bloginfo('stylesheet_directory') ?>/assets/img/logo.png" alt="<?php bloginfo('name') ?>">
				</a>
			</div>

			<div class="columns large-10 medium-12">
				<a class="logo abslut hide-for-large" href="<?php echo home_url('/') ?>" title="<?php bloginfo('name') ?>">
					<img src="<?php bloginfo('stylesheet_directory') ?>/assets/img/logo.png" alt="<?php bloginfo('name') ?>">
				</a>
				<a class="toggle menubtn hide-for-large hide-for-medium" href="#main-menu"><i class="fa fa-bars"></i></a>	
				<!-- <div class="prettydropdown show-for-medium">
					<select class="langselect" name="language">
						<option>NL</option>
						<option>GB</option>
					</select>
				</div> -->
				<?php if ($languages = $this->listLanguages(array('exclude' => array(get_current_blog_id())))): ?>
				    <?php echo $this->partial('partials/languages/languages.phtml', array('languages' => $languages)) ?>
				<?php endif ?>
				<a class="toggle searchbtn show-for-medium" href="#search"><i class="fa fa-search"></i></a>				
				<a class="readmore button lite show-for-medium" href="<?php echo get_permalink(get_option('theme_page_demo')) ?>"><?php _e('Probeer gratis'); ?></a>
				<div class="clearfix hide-for-large"></div>

				<?php echo $this->menu('main') ?>
				<div class="extrabuttons show-for-small">					
					<a class="toggle searchbtn" href="#search"><i class="fa fa-search"></i></a>
					<?php if ($languages = $this->listLanguages(array('exclude' => array(get_current_blog_id())))): ?>
					    <?php echo $this->partial('partials/languages/languages.phtml', array('languages' => $languages)) ?>
					<?php endif ?>
				</div>
				
			</div>
		</div>
	</section>

	<section id="search" class="search">
		<div class="row">
			<div class="large-9 small-centered columns">
				<?php if ($this->moduleActive('search')): ?>
					<?php echo $this->searchForm() ?>
				<?php endif ?>
			</div>
		</div>
	</section>	
	
</header>

<div class="featured">
	<?php echo $this->featured() ?>
</div>
