<?php if (have_posts()): ?>
<section class="display-list feature-list">
	<div class="row">
	    <?php while (have_posts()): the_post(); ?>
	    <?php echo $this->partial('partials/feature/home/list-item.phtml') ?>
	    <?php endwhile; ?>
   </div>
</section>
<?php endif ?>
