<tr class="<?php echo trim($this->classname . ' status-' . $this->post->post_status); ?>">
    <td class="column-icon media-icon">
    <?php if ($thumb = wp_get_attachment_image($this->post->ID, array( 80, 60 ), true)): ?>
        <?php echo $thumb ?>
    <?php endif ?>
    </td>
    <td class="column-title">
        <span class="title"><?php echo $this->postTitle($this->post->ID) ?></span>
        <p><?php echo $this->fileExtension($this->post) ?></p>
    </td>
    <td class="column-order">
        <input class="sort_order_input" type="text" id="attachments[<?php echo $this->options['meta_key'] ?>][<?php echo $this->post->ID ?>][sort_order]" name="attachments[<?php echo $this->options['meta_key'] ?>][<?php echo $this->post->ID ?>][sort_order]" value="<?php echo (isset($this->post->sort_order)) ? $this->post->sort_order : 0 ?>">
    </td>
    <td class="column-remove">
        <a class="remove-gallery-image" href="#">Verwijderen</a>
    </td>
</tr>  
