<div class="slider slick">
	<?php if (isset($this->gallery_id)): $post = get_post($this->gallery_id) ?>
        <?php echo $this->gallery(array('template' => 'partials/featured/gallery/slider.phtml'), $post) ?>
    <?php endif ?>
</div>
<div class="overlay"></div>