<?php
	$headerimg = $this->header();
?>

<section id="singleimage" style="background: url('<?php echo $headerimg; ?>') no-repeat center center / cover;">



	<div class="overlay"></div>

	<div class="row">
		<div class="large-12 columns">

			<div class="container-headertext">
				<div class="header-text" >
					<?php if ($alt_title = get_post_meta(get_the_ID(), '_alt_title', true)):  ?>
						<h2><?php echo htmlspecialchars_decode($alt_title) ?></h2>
					<?php else: ?>
						<h2><?php the_title() ?></h2>
					<?php endif ?>
					<?php if ($tagline = get_post_meta(get_the_ID(), '_tagline', true)):  ?>
						<h3><?php echo $tagline ?></h3>
					<?php endif ?>
				</div>
			</div>

		</div>
	</div>

	<div class="submenu">
		<div class="row">
			<div class="large-12 columns">
				<?php
					$parent_id = wp_get_post_parent_id(get_the_ID());
					$children = $this->listChildren('page',array('queryArgs'=>array('post_parent' => get_the_ID())));
					$siblings = $this->listChildren('page',array('queryArgs'=>array('post_parent' => $parent_id )));

					if($children != '' ){
						echo $children;
					}
					else if ($siblings != '' && $parent_id){
						echo $siblings;
					}

				?>
			</div>
		</div>
	</div>

</section>