<li class="sub-item" itemscope itemtype="http://schema.org/Article">
    <a class="<?php if ($this->pageid == get_the_ID()): ?>active<?php endif ?>" href="<?php echo get_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><?php the_title() ?></a>
</li>
