<div class="row">
    <div class="col-lg-12 residential-box"  id="faceted-search-container" >
        <h2 class="indent"><em>Nieuws</em><span></span></h2>
        <div class="row">

            <div class="faceted-search-content post-list" data-equalizer>
                <?php if (have_posts()): ?>
                    <?php echo $this->partial('partials/facet/facet-list.phtml') ?>
                <?php endif ?>
                <?php wp_reset_query() ?>
            </div>

            <div class="faceted-search-footer large-12 columns"> 
            <?php if (isset($this->facetedSearch) && ($this->facetedSearch->getFilter('paginate')->getNumPages() > $this->facetedSearch->getFilter('paginate')->getCurrentPage())): ?>
         
                <a class="showmore more-items" href="<?php echo $this->facetedSearch->getFilter('paginate')->getNextLink() ?>"
                   data-current-page="<?php echo $this->facetedSearch->getFilter('paginate')->getCurrentPage() ?>" data-filter-name="paginate">
                    <span class="label"><?php _e('Toon meer berichten') ?></span>
                    <span class="arrow"><i class="fa fa-chevron-circle-down"></i></span>
                    <div class="load-indicator"><span><?php _e('Bezig met laden...') ?></span></div>
                </a>      
            <?php endif ?>
            </div>


        </div>
    </div>
</div>


<script>
    jQuery(function($) {
        $('#faceted-search-container').facetedSearch({
            url: '<?php the_permalink() ?>',
            autoSubmit: false,
            button: '.more-items',
            form: '',
            target: '.post-list',
        });
    });
</script>
