<?php if (isset($this->language) && is_object($this->language)): $language = $this->language ?>
    <a class="flag language_<?php echo sprintf('language-%1$s', esc_attr($language->code)) ?> show-for-medium" title="<?php echo esc_attr($language->title) ?>" href="<?php echo esc_url($language->url) ?>"><span class="flag-icon flag-icon-<?php echo esc_attr($language->code) ?>"></span></a>
<?php endif ?>
