@import 'variables';
@import 'mixins';
@import 'base';

/*
** Breadcrumbs
*/
.breadcrumbs {
    margin: 0;
    padding: 0;
    float: right;
}

/*
** Lists
*/
.display-list {
    margin: 0;
    padding: 0;
    
    .list-item {
        
        a {
            text-decoration: none;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.sharethis {
    display: inline-block;
    margin: 0;
	padding: 5px 15px;
    border: 2px solid $clr-grey-bg;
    color: $clr-title;
    border-radius: 20px;
    margin: 0 0 20px 0;
    
    h4 { 
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    .share-list {
        display: inline-block; 
        margin: 0;
        padding: 0;
        
        .list-item {
            display: inline-block;
            margin: 0 0 0 15px;
            padding: 0;
            vertical-align: top;
            
            a {
                color: $clr-main;
                font-size: 18px;
                &:hover{
                    color: $clr-title;
                }
            }
        }
    }
}

.mail-share-container {
    border: 2px solid $clr-grey-bg;
    padding: 15px;
    border-radius: 4px;
    
    .mail-share-header {
        margin: 0 0 15px;
        padding: 0;
        font-family: $fnt-head, sans-serif;
        font-size: $fnt-default-size;
        color: $clr-title;
        text-decoration: none;
        line-height: normal;
        font-weight: 300;
    }
    
    .mail-share-content {
        margin: 0;
        padding: 0;
        
        dl {
            margin: 0;
            padding: 0;
        }
        
        dd { 
            margin: 0 0 5px;
            padding: 0;
        }
        
        p {
            margin-bottom: 10px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .submit { 
        margin-bottom: 10px; 
        
        .button {
            margin-bottom: 0;
        }
    }
    
    .notify-message {
        margin-bottom: 10px;
    }
}

.features{
    padding: 0 0 20px;
    &.padbot{
        padding-bottom: 80px;
    }

    .singular-widgets{
        .widget{
            margin-bottom: 0;
        }
    }
}

.feature-list {
    
    .list-item {
        text-align: center;

        
        .entry-header {
            margin: 0;
            padding: 30px 0 0;
            @include transition(padding 0.5s ease);
        }
            
        .entry-title {
            font-size: 16px;
            font-weight: 700;
        }
        
        .entry-image {
            min-height: 80px;
            
            span {
                display: block;
                margin: 0 auto;
                padding: 0;
                width: 60px;
                height: 60px;
                background-position: center;
                background-repeat: no-repeat;
                @include background-size(100%, 100%);
            }
        }
        
        .entry-content {
            margin: 0 0 20px;
            padding: 40px 0 0;
            @include transition(padding 0.5s ease);
        }
        
        .entry-footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -42px;
            @include transition(bottom 0.5s ease);
            
            .readmore {
                margin-bottom: 0;
            }
        }
        
        > a {
            position: relative;
            display: block;
            margin: 0 0 1.875rem 0;
            padding: 20px;
            overflow: hidden;
            border: 2px solid #e2e6e9;
            height: 308px;
            @include border-radius(20px);
            @include box-sizing(border-box);
            @include transition(all 0.5s ease);

            
            &:hover {
                padding-bottom: 70px;
                background-color: #ecf0f3;
                color: inherit;
            
                .entry-header {
                    padding-top: 0;
                }
                
                .entry-content {
                    padding-top: 20px;
                }
                
                .entry-footer {
                    bottom: 30px;
                }
                
                .readmore {
                    background-color: #fff;
                }
            }
        }
    }
}

/*
** Feature
*/
.single-feature {
    .single-image {
        margin: 0; 
        padding: 0;
        
        span {
            display: block;
            margin: 0;
            padding: 0;
            width: 60px;
            height: 60px;
            background-position: center;
            background-repeat: no-repeat;
            @include background-size(100%, 100%);
        }
    }
    
    .singular-content .single-image {
        padding: 20px 25px 25px 20px;
        float: left;
    }
}
