@import 'variables';

input[type=text],
input[type=password],
textarea {
  background: #fafafa;
  line-height: normal;
  border: 0;
  padding: 4px 10px;
  font-size: 13px;
}
.oldie input[type=text],
.oldie input[type=password],
.oldie textarea {
  border: 1px solid #8b8e92;
}
.gform_wrapper .ginput_complex .ginput_left input[type=text],
.gform_wrapper .ginput_complex .ginput_left input[type=password],
.gform_wrapper .ginput_complex .ginput_right input[type=text],
.gform_wrapper .ginput_complex .ginput_right input[type=password] {
  width: 159px;
}

textarea {
  padding: 8px 10px;
  width: 459px;
  height: 100px;
}
.std  {
  .gform_wrapper {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 30px;
  }
 
}
.gform_wrapper {
  
  .gform_title{
    font-size: 18px;
  }

  .validation_error {
    background: $clr-main;
    padding: 8px 15px;
    color: #fff;
    margin-bottom: 20px;
  }  

  .validation_message {
    color: #c11414;
    margin-top: 5px;
  }

  .gform_fields {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .gfield_label {
    color: #222;
    font-weight: normal;
    font-size: 14px;
    font-family: $default-font, sans-serif;
    margin-top: 3px;
  }

  .top_label {
    .gfield_label {
      display: block;
      margin: 0 0 3px;
    }
  }

  .gfield {
    margin: 20px 0;

    &:first-child {
      margin-top: 0;  
    }
  }

  .ginput_complex {

    .ginput_left {
      margin-right: 10px;
    }
  }

  .left_label {

    .gfield_label {
      float: left;
    }
  }

  .right_label {

    .gfield_label {
      float: right;
    }
  }
    

    
}
#gforms_confirmation_message {
  background: #456f1d;
  padding: 8px 15px;
  color: #fff;
  margin: 2em 0;
}

.gform_wrapper, 
.gform_wrapper ul.gfield_checkbox,
.gform_wrapper ul.gfield_radio {
  margin: 6px 0;
  padding: 0;
  list-style-type: none;
  // overflow: hidden;
}

.gform_wrapper ul.gfield_checkbox li,
.gform_wrapper ul.gfield_radio li {
  overflow: hidden;
  margin: 3px 0;
}
.gform_wrapper ul.gfield_checkbox li label,
.gform_wrapper ul.gfield_radio li label {
  display: block;
  width: auto;
  margin: 0 0 0 24px;
  padding: 0;
}
.gform_wrapper ul.gfield_radio li input,
.gform_wrapper ul.gfield_checkbox li input {
  float: left;
  margin-top: 4px;
}

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right {
  display: inline-block;
}
.oldie .gform_wrapper .ginput_complex .ginput_left,
.oldie .gform_wrapper .ginput_complex .ginput_right {
  display: inline;
}

.gform_wrapper .ginput_complex .ginput_left > label,
.gform_wrapper .ginput_complex .ginput_right > label {
  display: block;
}
.gform_ajax_spinner {
  margin-left: 10px;
}
