@import 'variables';
@import 'mixins';
@import 'base';

html,
body {
	background-color: #34383b;
}

a{
	text-decoration: none;
	color: $clr-main;
	&:hover{
		text-decoration: none;
		color: $clr-title;
	}
}

.right{ float: right; }
.left{ float: left; }

.nopad{ padding: 0; }
.nopad-left{ padding-left: 0; }
.nopad-right{ padding-right: 0; }
.nopad-bot{ padding-bottom: 0 !important; }

.body-container {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.shortborder{
	&:after{
		content: "";
		width: 50px;
		height: 3px;
		@include gradient();
		display: block;
		margin-top: 30px;
	}
}

.dotted-divider{
	background: url(../img/dots-divider.png) repeat-y right top;
}

/*
** Readmore
*/
.readmore{
	&.button{
		background: $clr-second;
		border-radius: 60px;
		font-family: $fnt-head;
		padding: 5px 15px;
		color: $clr-white;
		line-height: 26px;
		font-size: 18px;
		font-weight: 700;
		display: inline-block;
		border-bottom: 2px solid $clr-second-dk;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		transition: 0.3s all ease-in-out;

		&:hover{
			background: $clr-second-lt;
			text-decoration: none;
		}
		&.lite{
			padding: 7px 15px 5px;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		}
		&.large{
			padding: 18px 35px 15px 25px;
		}
		&.arrow{
			padding: 18px 70px 15px 25px;
			position: relative;
			text-transform: uppercase;
			&:after{
				position: absolute;
				right: 10px;
				top: calc(50% - 20px);
				content: "";
				border-radius: 50%;
				width: 40px;
				height: 40px;
				background: $clr-second-dk url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
				display: inline-block;
			}

		}

		&.invert{
			background: none;
			border: 2px solid #dcdfe0;
			color: $clr-main;
			font-size: 15px;
			font-weight: 300;
			text-shadow: none;
			&:hover{
				border: 2px solid $clr-main;
				color: $clr-title;
			}

			&.arrow{
				padding: 5px 39px 5px 15px;
				text-transform: none;
				&:after{
					position: absolute;
					right: 12px;
					top: 7px;
					content: "";
					width: 20px;
					height: 20px;
					background: transparent url(../svg/arrow-black.svg) no-repeat center center / 12px 12px;
					display: inline-block;
				}
				&.down{
					&:after{
						@include rotate(90);
					}
				}
				&.leftie{
					padding: 5px 15px 5px 39px;
					&:after{
						right: auto;
						left: 12px;
						@include rotate(180);
					}
				}
				&.dark{
					border-color: #3d4144;
					&:after{
						background: transparent url(../svg/arrow-white.svg) no-repeat center center / 12px 12px;
					}
					&:hover{
						color: $clr-white;
						border-color: $clr-main;
					}
				}
			}
		}
	}
}


/*
** Header
*/
.header{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 500;

	/*
	** Main menu
	*/
	.navbar{
		float: right;
		
		@media only screen and (max-width: 40em){
			float: none;
		}
		.main-menu {
			margin: 10px 20px 0 0;
			padding: 0;
			list-style-type: none;
			transition: 0.3s all ease-in-out;
			@media only screen and (max-width: 40em){
				// opacity: 0;
				display: none;

				&.active{
					display: block;
					list-style: none;
					padding: 30px 0 0;
					// opacity: 1;
					.menu-item{
						display: block;
						padding: 0;
						&:before{
							display: none;
						}
						&:last-child{
							a{
								border-bottom: none;
							}
						}
						&.home-item > a{
							&:before{
								display: inline-block;
								margin-right: 15px;
							}
							span{
								display: inline-block;
							}
						}
						a{
							padding: 10px 20px;
							border-bottom: 1px solid $clr-grey-bg;
							display: block;
						}
					}

					.sub-menu{
						display: none !important;
						opacity: 0 !important;
						pointer-events: none !important;
					}
				}
			}
			

			
			.menu-item { 
				display: inline-block;
				margin: 0;
				padding: 0 0 5px 20px;
				vertical-align: top;
				color: $clr-grey-dk;
				position: relative;
				font-family: $fnt-head;
				font-size: 15px;
				
				&.home-item > a {
					padding-top: 2px;
					display: block;
					&:before {
						// @include font-awesome("\f015");
						width: 18px;
						height: 18px;
						display: block;
						content: "";
						background: url(../svg/icon-home-grey.svg) no-repeat center center / cover;
					}

					&:hover{
						&:before{
							background: url(../svg/icon-home.svg) no-repeat center center / cover;
						}
					}
					
					span {
						display: none;
					}
				}
				
				&:before {
					@include font-awesome("\f111");
					padding-right: 20px;
					font-size: 0.3em;
					vertical-align: middle;
				}
				
				&:first-child:before {
					display: none;
				}

				a{
					color: $clr-text;
					display: inline-block;
					padding: 0 0 10px;

					&:hover{
						text-decoration: none;
						color: $clr-main;
					}
				}

				&:hover{
					.sub-menu{
						// display: block;
						opacity: 1;
						pointer-events: auto;
					}
				}

				&.current-page-ancestor, 
				&.current-menu-ancestor,
				&.current-post-ancestor,
				&.current-menu-parent,
				&.current-menu-item,
				&.current-page-parent,
				&.current-post-parent{
					a{
						text-decoration: none;
						color: $clr-main;
					}

					&.home-item > a {
						&:before{
							background: url(../svg/icon-home.svg) no-repeat center center / cover;
						}
					}
				}

				.sub-menu{
					// display: none;
					pointer-events: none;
					opacity: 0;
					position: absolute;
					top: 30px;
					left: 40px;
					background: $clr-grey-bg;
					padding: 0;
					margin: 0;
					list-style: none;
					border-radius: 5px;
					overflow: hidden;
					box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
					transition: 0.2s all ease-in-out;
					.menu-item{
						display: block;
						padding: 0;
						&:before{
							display: none;
						}
						a{
							padding: 10px 20px;
							color: $clr-grey-dk;
							border-bottom: 1px solid #e1e4e6;
							display: block;
							min-width: 190px;
							&:hover{
								color: $clr-main;
								text-decoration: none;
							}
						}
					}
				}

			}
		}
	}
		

	.mainnav{
		height: 100px;
		min-height: 100px;
		background: $clr-white;
		padding: 25px 0 0;
		position: relative;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		z-index: 300;

		@media only screen and (max-width: 64em){
			height: auto;
			padding-bottom: 20px; 
		}

		.extrabuttons{
			display: none;
			.show-for-medium{
				display: block !important;
			}
			.flag{
				margin-right: 0;
			}
		}

		.logo{
			position: relative;
			display: block;
			&.abslut{
				position: absolute;
			}
			.bol{
				position: absolute;
				top: 0px;
				left: -130px;
				opacity: 1;
				transition: 0.3s all ease-in-out;
				@media only screen and (max-width: 70em){
					display: none;
				}

				&.scrolled{
					// opacity: 0;
					top: -200px
				}
			}
		}

		.readmore{
			font-size: 15px;
			float: right;
			margin-right: 20px;
		}

		.flag{
			float: right;
			line-height: 38px;
			width: 40px;
			text-align: center;
			border: 2px solid $clr-border-lt;
			border-radius: 4px;
			margin-right: 20px;
			&:hover{
				border-color: $clr-main;
			}
		}

		.searchbtn,
		.menubtn{
			float: right;
			line-height: 38px;
			width: 40px;
			text-align: center;
			border: 2px solid $clr-border-lt;
			border-radius: 4px;
			margin-right: 20px;
			@media only screen and (max-width: 40em){
				margin-left: 10px;
				margin-right: 0px;
			}
			&:hover,
			&:focus{
				color: $clr-main;
			}
		}

		.prettydropdown{
			float: right;
			border: 1px solid $clr-border-lt;
			border-radius: 4px;
			// 
			select{
				margin: 0;
				height: 40px;
				border-color: $clr-border-lt;
			}
		}
	}

	.search{
		background: $clr-grey-dk;
		height: 100px;
		width: 100%;
		position: absolute;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
		z-index: 200;
		bottom: 10px;
		transition: 0.3s all ease-in-out;
		&.active{
			bottom: -100px;
		}
	}

	/*
	** Search
	*/
	.search-form {
		display: block;
		margin: 20px 0 0;
		padding: 0;
		position: relative;
		// width: 100%; 
		
		.search-input-container {
			margin: 0;
			padding: 0;
			width: 100%; 

			.search-input {
				margin: 0; 
				padding: 0 20px;
				width: 100%; 
				height: 60px; 
				background-color: $clr-grey;
				border: 0;
				border-radius: 30px;
				line-height: 60px;
				color: $clr-white;
				font-size: 18px;
				-webkit-box-shadow: inset 0px 2px 0px 0px rgba(78,88,96,1);
				-moz-box-shadow: inset 0px 2px 0px 0px rgba(78,88,96,1);
				box-shadow: inset 0px 2px 0px 0px rgba(78,88,96,1);
			}
		}    
		
		.search-submit {
			margin: 0;
			padding: 0;
			background: $clr-second;
			position: absolute;
			right: 10px;
			top: 11px;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			border-bottom: 2px solid $clr-second-dk;
			&:hover{
				background: $clr-second-lt;
				text-decoration: none;
			}
			
			&:before {
				@include font-awesome("\f002");
				font-size: 1em;
				color: $clr-white;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			}
			
			span {
				display: none;
			}
		}

	}
}
	
/*
** Featured
*/
.featured{
	padding-top: 100px;
	position: relative;

	@media only screen and (min-width: 40em) and (max-width: 63em){
		padding-top: 135px;
	}

	.slider{
		.slide{
			height: 560px;
			padding-top: 100px;
			@media only screen and (max-width: 40em){
				padding-top: 70px;
				background-position: 72% 0% !important;
			}
			
			h2{
				color: $clr-white;
				font-size: 36px;
				font-weight: 700;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
				@media only screen and (max-width: 40em){
					display: none;
				}
			}
			p{
				margin: 0 0 30px;
				font-size: 30px;
				font-family: $fnt-head;
				font-weight: 300;
				font-style: italic;
				text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
				color: $clr-white;
				@media only screen and (max-width: 40em){
					display: none;
				}
			}

			.readmore{
				font-family: $fnt-head;
				font-weight: 700;
				@media only screen and (max-width: 40em){
					margin-top: 270px;
				}
			}
		}
	}

	.overlay{
		width: 100%;
		height: 280px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		background: url(../img/curve-header.png) no-repeat center top;
		pointer-events: none;
	}

}

/*
** Usps
*/
.usps{
	padding: 10px 0;
	.widget{
		margin-bottom: 30px;

		h2{
			font-weight: 700;
			font-size: 24px;
			margin-bottom: 5px;
			padding: 0;
		}
		p{
		  font-size: 21px;
		  font-style: italic;
		  font-weight: 300;
		  font-family: $fnt-head;
		  margin: 0;
		  color: $clr-title;
		}
	}

	.usp{
		position: relative;
		min-height: 90px;
		margin-bottom: 30px;
		.icon{
			width: 100px;
			position: absolute;
			left: 0.9375rem;
			top: 0px;
			@media only screen and (min-width: 40em) and (max-width: 64em){
				position: static;
				display: block;
				margin: 0 auto;
			}
		}

		.text{
			padding-left: 110px;
			padding-right: 0px;
			@media only screen and (min-width: 40em) and (max-width: 64em){
				padding-left: 0px;
				margin-top: 20px;
				display: block;
				text-align: center;
			}
		}

		.iconholder{
			display: block;
			border-radius: 50%;
			border: 2px solid $clr-grey-bg;            
			width: 90px;
			height: 90px;
			text-align: center;
		}
		&:nth-child(2){
			.iconholder{
				padding: 20px 25px 0;
			}
		}

		&:nth-child(3){
			.iconholder{
				padding: 15px 25px 0;
			}
		}

		&:nth-child(4){
			.iconholder{
				padding: 22px 20px 0;
			}
		}

		h3{
			font-size: 16px;
			color: #97989a;
			font-style: italic;
			margin: 10px 0 5px;
		}
		p{
			font-size: 18px;
			font-weight: 700;
			font-family: $fnt-head;
			margin: 0;
			color: $clr-title;
		}
	}
		
}

/*
** Media
*/
.media{
	background: url(../img/media-bg.jpg) no-repeat center top / cover;
	.video-holder{
		background: none;
	}
	.video-overlay,
	.video-container{
		padding-bottom: 25.5%;
		@media only screen and (max-width: 64em){
			padding-bottom: 56.25%;
		}
	}
	.video-overlay{
		position: relative;
		&:after {
			background: url(../img/ypb.png) no-repeat center center;
		}
		h3{
			color: $clr-white;
			font-weight: 700;
			font-size: 24px;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			position: absolute;
			top: calc( 50% + 80px);
			width: 100%;
			text-align: center;
			@media only screen and (max-width: 40em){
				display: none;
			}
		}
	}
	iframe{
		border: none;
	}
}

/*
** Features
*/
.home-features{
	background: url(../img/curve-grey-lt.png) no-repeat center top;
	padding: 40px 0 0;

	&.more{
		background: $clr-white;
		padding: 40px 0;
		.singular-content{
			background: $clr-white url(../img/dots-top.png) repeat-x left top;
			padding: 40px 0;
		}
	}

	h1{
		margin: 100px 0 50px;
	}

	.singular-content{
		padding-right: 20px;
		padding-bottom: 20px;
		
		p:first-child{
			em{
				padding: 8px 0;
				display: block;
				font-family: $fnt-head;
			}
		}
		.top{
			&:after{
				content: "";
				display: table;
				clear: both;
			}
			em{
				float: left;
				padding: 8px 0;
				display: block;
				font-family: $fnt-head;
			}
		}
	}

	.feature-list{
		margin: 10px 0;
		.feature{
			// &:nth-child(even){
			//     padding-right: 0px;
			// }
			// &:nth-child(odd){
			//     padding-left: 0px;
			// }
			a{
				display: inline-block;
				border: 2px solid $clr-border-lt;
				padding: 15px 20px;
				margin-bottom: 20px;
				border-radius: 15px;
				background: $clr-white;
				width: 100%;
				&:after{
					content: "";
					display: table;
					clear: both;
				}
				&:hover{
					.text{
						h3{
							color: $clr-main;
						}
					}                        
				}
				.image{
					width: 40px;
					height: 40px;
					// float: left;
					vertical-align: middle;
					display: inline-block;
					img{
						height: 100%;
						width: auto;
					} 
				}
				.text{
					width: calc(100% - 50px);
					// float: left;
					display: inline-block;
					text-align: left;
					padding: 0 0 0 20px;
					vertical-align: middle;

					h3{
						// line-height: 35px;
						color: $clr-title;
						font-weight: 700;
						font-size: 16px;
					}                   
					
				}
			}                
		}
	}

	.growgrey{
		@media only screen and (max-width: 64em){
			background: $clr-grey-bg;
		}
	}
}

/*
** Demo widget area
*/
.demo{
	padding: 80px 0 60px;
	img{
		&.right{
			margin: 0 0 10px 10px;
		}
	}
	p{
		margin-bottom: 30px;
	}
	.subline{
		h2{
			color: $clr-title;
		}
		p{
			font-size: 21px;
			font-family: $fnt-head;
			font-weight: 300;
			color: $clr-title;
			margin-top: 5px;
		}

		a{
			background: $clr-second;
			border-radius: 40px;
			font-family: $fnt-head;
			color: $clr-white;
			line-height: 26px;
			font-size: 18px;
			font-weight: 700;
			display: inline-block;
			border-bottom: 2px solid $clr-second-dk;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			padding: 18px 70px 15px 25px;
			position: relative;
			text-transform: uppercase;
			transition: 0.3s all ease-in-out;
			&:after{
				position: absolute;
				right: 10px;
				top: 10px;
				content: "";
				border-radius: 50%;
				width: 40px;
				height: 40px;
				background: $clr-second-dk url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
				display: inline-block;
			}
			&:hover{
				background: $clr-second-lt;
				text-decoration: none;
			}
		}
	}

	.widget{
		a{
			color: $clr-main;
			&:hover{
				color: $clr-title;
			}

			&.button{
				color: $clr-white;
				&:hover{
					color: $clr-white;
				}
			}
		}
	}
		
}

/*
** Random reference + packages
*/
.packref{
	background: url(../img/grey-split.jpg) repeat-y center top;
	position: relative;
	.this > .columns{
		padding-top: 40px;
		padding-bottom: 40px;

		&.extra{
			padding-bottom: 90px;
			overflow: hidden;
			@media only screen and (max-width: 40em){
				&:first-child{
					padding-bottom: 40px;
				}				
			}
		}
		
		@media only screen and (max-width: 64em){
			background: #e6e9eb;
		}
		&:first-child{
			@media only screen and (max-width: 64em){
				background: $clr-grey-bg;
			}
		}
	}

	

	.reference{

		margin: 40px 0;

		.inner{
			&:after{
				clear: both;
				display: table;
				content: "";
			}
		}

		.speech {
			@include speechbubble($clr-grey-bg, $clr-white, $clr-title);
		}

		.image{
			width: 100px;
			float: left;
		}
		.text{
			width: calc(100% - 110px);
			float: left;
			padding: 0 40px 0 20px;
			@media only screen and (max-width: 40em){
				padding: 0 10px 0 20px;
			}
		}
	}

	.package-list{
		margin: 30px 0;
		.package{
			a{
				border: 2px solid #d5d8db;
				padding: 20px 27px;
				margin-bottom: 20px;
				border-radius: 15px;
				background: $clr-white;
				width: 100%;
				display: block;
				transition: 0.3s all ease-in-out;				

				&:hover{
					border-color: $clr-main;
				}

				.inner{
					width: 100%;
					padding-bottom: 20%;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	.curve-top{
		position: absolute;
		top: -40px;
		height: 40px;
		left: 0px;
		width: 50%;
		background: transparent url(../img/top-curve.png) no-repeat right top;
	}

}

.references{
	padding-bottom: 50px;
}

.reference-list{
	.reference{

		margin: 0 0 40px 0;

		.inner{
			border: 2px solid $clr-grey-bg;
			border-radius: 10px;
			padding: 30px;
			&:after{
				clear: both;
				display: table;
				content: "";
			}
		}

		.speech {
			@include speechbubble($clr-grey-bg, $clr-grey-bg, $clr-title);
		}

		.image{
			width: 100px;
			float: left;
		}
		.text{
			width: calc(100% - 110px);
			float: left;
			padding: 0 40px 0 20px;
			@media only screen and (max-width: 40em){
				padding: 0 10px 0 20px;
			}
		}
	}
}

/*
** Slick
*/
.slick{
	.slick-arrow{
		background: $clr-white;
		color: $clr-main;
		font-size: 24px;
		position: absolute;
		top: 49%;
		z-index: 9;
		&.slick-next{
			padding: 45px 15px 45px 20px;
			border-radius: $default-radius 0 0 $default-radius;
			right: 0;
		}
		&.slick-prev{
			padding: 45px 20px 45px 15px;
			border-radius: 0 $default-radius $default-radius 0;
			left: 0;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 140px;
		left: calc(50% - 36em);
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin-left: 0 !important;

		@media only screen and (max-width: 70em){
			left: 10px;
			bottom: 140px;
		}
		@media only screen and (max-width: 40em){
			display: none !important;
		}

		li {
			position: relative;
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 5px;
			padding: 0;
			cursor: pointer;
			button {
				border: 0;
				background: transparent;
				display: block;
				height: 10px;
				width: 10px;
				outline: none;
				line-height: 0px;
				font-size: 0px;
				color: transparent;
				padding: 5px;
				border-radius: 50%;
				cursor: pointer;
				background: $clr-white;
				-moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2);
				-webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2);
				box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2);
				
				&:hover, &:focus {
					outline: none;
					&:before {
						opacity: 1;
					}
				}
				
			}
			&.slick-active button {
				background: #e63312;
				box-shadow: none;
				border: 2px solid $clr-white;
			}
		}
	}
}

#singleimage{
	min-height: 340px;
	height: 340px;
	@media only screen and (max-width: 40em){
		height: auto;
		// padding-top: 70px;
    	background-position: 80% 0% !important;
    	background-size: auto !important;
	} 
	@media only screen and (min-width: 40em) and (max-width: 64em){
		background-position: 70% 0% !important;
		background-size: auto !important;
	}

	.header-text{
		width: 80%;
		padding: 50px 0 20px;
		@media only screen and (min-width: 40em) and (max-width: 64em){
			width: 70%;
		}
		@media only screen and (max-width: 40em){
			width: 100%;
			min-height: 250px;
		}
		h2{
			color: $clr-white;
			font-size: 36px;
			font-weight: 700;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
			 -ms-word-break: break-all;
			     word-break: break-all;

			     /* Non standard for webkit */
			     word-break: break-word;

			-webkit-hyphens: auto;
			   -moz-hyphens: auto;
			    -ms-hyphens: auto;
			        hyphens: auto;
		}
		h3{
			margin: 5px 0 30px;
			font-size: 30px;
			font-family: $fnt-head;
			font-weight: 300;
			font-style: italic;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
			color: $clr-white;
		}
	}

	.submenu{
		position: absolute;
		z-index: 9;
		bottom: 65px;
		left: 0;
		width: 100%;
		@media only screen and (max-width: 40em){
			position: relative;
			bottom: auto;
			left: auto;
			z-index: 9;
			overflow: hidden;
			padding-bottom: 3px;
		}

		.large-12{
			padding: 0;
		}
		
		.subnav{
			background: $clr-main;
			border-radius: 45px;
			padding: 5px 10px;
			display: inline-block;
			margin: 0;
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			@media only screen and (max-width: 40em){
				border-radius: 0;
				padding: 5px 0;
				display: block;
				width: 100%;
				background: $clr-grey-bg;
			}

			.sub-item{
				display: inline-block;
				padding-right: 10px;
				position: relative;

				@media only screen and (max-width: 40em){
					display: block;
					text-align: center;					
					background: url(../img/dots-top.png) repeat-x center bottom;
					&:last-child{
						border-bottom: none;
						background: none;
					}
				}

				&:after{
					@include font-awesome('\f111');
					color: #B34F04;
					display: block;
					font-size: 6px;
					position: absolute;
					right: 3px;
					top: 19px;
					@media only screen and (max-width: 40em){
						display: none;
					}
				}

				&:last-child{
					padding-right: 0;
					&:after{
						display: none;
					}
				}

				a{
					padding: 10px 20px;
					display: block;
					color: #f1f1f1;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
					font-family: $fnt-head;
					font-size: 16px;

					@media only screen and (max-width: 40em){
						color: $clr-text;
					}
					&:hover{
						text-decoration: none;
						color: $clr-white;
						@media only screen and (max-width: 40em){
							color: $clr-main;
						}
					}
					&.active{
						font-weight: 700;
						color: $clr-white;
						@media only screen and (max-width: 40em){
							color: $clr-main;
						}
						
					}
				}
			}
		}
	}
	
}

.main-container{
	&.dots{
		background: url(../img/dots-light.png) no-repeat center 75px;
	}
	
}

.singular-content{
	&.padleft{
		padding-right: 0;
		padding-left: 20px;
		@media only screen and (max-width: 64em){
			padding-left: 0px;
			padding-bottom: 40px;
		}
	}

	h1{
		font-size: 24px;
		margin-bottom: 30px;
	}

	h3{
		font-style: italic;
		font-weight: 300;
		font-size: 16px;
	}

	em{
		color: #2b2c2f;
	}

	p{
		line-height: 28px;
	}

	a{
		color: $clr-main;
		text-decoration: none;
		&:hover{
			color: $clr-title;
			text-decoration: none;
		}
		&.readmore{
			&:hover{
				color: $clr-white;
			}
		}
	}

	ul{
		list-style: none;
		padding: 0;
		margin-left: 0;
		li{
			padding: 0 0 5px 30px;
			position: relative;
			&:before{
				@include font-awesome('\f058');
				font-size: 16px;
				position: absolute;
				top: 5px;
				left: 0px;
			}
		}
	}

	.gforms_confirmation_message{
		padding: 40px;
		background: $clr-frm-success;
		border-radius: 10px;
		border: 2px solid darken($clr-frm-success, 10%);
		color: $clr-white;
		margin-bottom: 80px;
	}

	.gform_wrapper{
		background: $clr-grey-bg;
		border-radius: 10px;
		border: 2px solid darken($clr-grey-bg, 10%);
		padding: 40px 40px 0 40px;
		position: relative;
		margin-bottom: 80px;

		@media only screen and (max-width: 40em){
			border-radius: 0;
			margin-left: -0.625rem;
    		margin-right: -0.625rem;
    		border-left: none;
    		border-right: none;
    		margin-bottom: 0px;
		}

		@media only screen and (min-width: 40em) and (max-width: 63em){
			border-radius: 0;
			margin-left: -0.9375rem;
    		margin-right: -0.9375rem;
    		border-left: none;
    		border-right: none;
    		margin-bottom: 0px;
		}

		li{
			padding: 0 0 5px;
			position: relative;
			&:before{
				display: none;
			}
			&:after{
				display: table;
				content: "";
				clear: both;
			}
			label{
				width: 30%;
				font-weight: 700;
				font-family: $fnt-head;
				color: $clr-title;
				float: left;
				font-size: 16px;
				@media only screen and (max-width: 40em){
					width: 100%;
				}
				span{
					color: $clr-main;
					padding-left: 5px;
				}
			}
			.ginput_container{
				width: 66%;
				float: left;
				@media only screen and (max-width: 40em){
					width: 100%;
				}
				&.ginput_container_checkbox{
					width: 100%;
					li{
						width: 50%;
						display: inline-block;
						position: relative;
						// padding-left: 25px;
						@media only screen and (max-width: 40em){
							width: 100%;
						}
						// input{
						// 	position: absolute;
						// 	top: 3px;
						// 	left: 0;
						// }
						label{
							margin: 0;
						}
					}
				}
				input[type="text"],
				input[type="tel"],
				input[type="email"],{
					-webkit-box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
					-moz-box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
					box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
  					background: $clr-white;
  					border: none;
  					margin-bottom: 0;
				}
				textarea{
					width: 100%;
					-webkit-box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
					-moz-box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
					box-shadow: inset 0px 2px 0px 0px rgba(204,204,204,1);
  					background: $clr-white;
  					border: none;
  					margin-bottom: 0;
  					height: 150px;
				}
			}
			.validation_message{
				display: block;
				margin-left: 25%;
				float: left;
				color: $clr-frm-error;
				@media only screen and (max-width: 40em){
					margin-left: 0;
				}
			}

			.gf-icon{
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		.required_message{
			position: relative;
			top: -100px;
			@media only screen and (max-width: 40em){
				top: 0px;
			}
		}

		.validation_error{
			background: $clr-frm-error;
			border-radius: 20px;
		}

		.gform_button{
			background: $clr-second;
			border-radius: 40px;
			font-family: $fnt-head;
			padding: 18px 70px 15px 25px;
			position: relative;
			text-transform: uppercase;
			color: $clr-white;
			line-height: 26px;
			font-size: 18px;
			font-weight: 700;
			display: inline-block;
			border-bottom: 2px solid $clr-second-dk;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			transition: 0.3s all ease-in-out;
			margin-left: 30%;
			@media only screen and (max-width: 40em){
				margin-left: 0;
			}

			&:hover{
				background: $clr-second-lt;
				text-decoration: none;
			}

			&:after{
				position: absolute;
				right: 10px;
				top: 10px;
				content: "";
				border-radius: 50%;
				width: 40px;
				height: 40px;
				background: $clr-second-dk url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
				display: inline-block;
			}
		}
	}
}

.crumbs{
	padding-top: 20px;
	font-size: 14px;
	@media only screen and (max-width: 40em){
		padding-bottom: 20px;
	}
	.sep{
		padding: 0 10px;
	}
	a{
		color: $clr-text;
		&:hover{
			color: $clr-main;
			text-decoration: none;
		}
	}
}

/*
** main
*/
.main{
	margin-bottom: 0px;
	.singular-header{
		margin-bottom: 30px;
	}
	.singular-footer{
		margin: 50px 0 80px;
		@media only screen and (max-width: 40em){
			margin-bottom: 0px;
		}
	}

	.singular-content{
		padding-bottom: 30px;
		&.post{
			padding-bottom: 0;
		}
	}

	.singular-meta{
		float: left;
		display: block;
		padding: 20px 30px;
		color: $clr-main;
		font-family: $fnt-head;
		border: 2px solid $clr-grey-bg;
		border-radius: 5px;
		margin: 5px 20px 10px 0;

		span{
			display: block;
			line-height: 26px;
			width: 100%;
			text-align: center;

			&.day{
				font-size: 24px;
				font-weight: 700;
			}
			&.month{
				font-size: 18px;
				font-weight: 700;
				text-transform: lowercase;
			}
			&.year{
				font-size: 14px;
				font-weight: 400;
				color: $clr-title;
			}
		}
	}

	.singular-content{
		h2{
			margin: 20px 0 10px;
			font-size: 20px;
		}

		h3{
			font-weight: 700;
			font-size: 16px;
			font-weight: 300;
		}
		p{
			margin-bottom: 30px;
		}
	}

	
}

.single-post{
    .singular-widgets{
        .widget{
            margin-bottom: 50px;
        }
    }
}

.singular-widgets{
	.widget{
		background: $clr-grey-bg;
		border-radius: 15px;
		padding: 40px;
		margin: 10px 0 110px;

		@media only screen and (max-width: 63em){
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
		}
		&:after{
			clear: both;
			display: table;
			content: "";
		}

		.image{
			width: 200px;
			float: left;
			@media only screen and (max-width: 64em){
				width: 100%;
				text-align: center;
			}
		}
		.text{
			float: left;
			width: calc(100% - 200px);
			padding: 0 0 0 30px;
			@media only screen and (max-width: 64em){
				width: 100%;
			}
			@media only screen and (max-width: 40em){
				padding: 0;
			}
			&.full{
				width: 100%;
			}
		}

		h2{
			font-size: 24px;
			color: $clr-title;
		}
		p{
			color: #5b6770;
			margin: 20px 0;
		}
		.readmore{
			margin: 20px 0 0;
		}
	}
}

/*
** sidebar
*/

.sidebar{
	padding-top: 90px;
	@media only screen and (max-width: 64em){
		margin-bottom: 50px;
		padding-top: 40px;
	}
	&:after{
		content: "";
		display: table;
		clear: both;
	}
	&.normal{
		padding-top: 53px;
	}
	.widget{
		background: $clr-grey-bg;
		padding: 30px;
		border-radius: 10px;
		margin-bottom: 30px;
		position: relative;
		&.gradient{
			@include gradient();
			color: $clr-white;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

			h3{
				color: $clr-white;
				font-weight: 700;
				font-size: 18px;
				margin-bottom: 30px;
			}
		}

		&.transparant{
			background: none;
			padding: 0 0 10px;
			.readmore{
				margin-top: 0px;
			}
			&.bordered{
				border: 2px solid $clr-grey-bg;
				padding: 30px;
			}
		}

		h3{
			&.italic{
				font-style: italic;
				font-size: 16px;
				margin-bottom: 20px;
				color: $clr-title;
			}
		}

		.phone-info{
			margin-bottom: 30px;
			span{				
				&.lbl{
					font-family: $fnt-head;
					color: $clr-title;
					font-style: italic;
					font-size: 16px;
					width: 100px;
					display: inline-block;
				}
			}
			.phone-container{
				display: inline-block;
				.phone{
					font-weight: 700;
					color: $clr-title;
					&:visited{
						color: $clr-title;
					}
					&:before{
						color: $clr-main;
					}
				}
			}
		}

		.contact{
			padding-bottom: 20px;
			.email,
			.address,
			.phone{
				position: relative;
				padding: 0 0 0 30px;
				margin-bottom: 20px;
				font-weight: 700;
				font-family: $fnt-head;
				color: $clr-title;
				display: block;
				a{
					color: $clr-title;
					&:hover{
						color: $clr-main;
					}
				}
				&:before{
					@include font-awesome('\f199');
					font-size: 18px;
					position: absolute;
					top: 3px;
					left: 0px;
					color: $clr-main;
				}
			}
			.address{
				margin-bottom: 0px;
				&:before{
					@include font-awesome('\f041');
				}
			}

			.phone{
				&:before{
					@include font-awesome('\f098');
				}
			}
		}

		table{
			margin-top: 20px;
			margin-bottom: 0px;
			border: none;
			tbody{
				border: none;
			}
			tr{
				background: none;
			}
			td{
				background: none;
				padding: 0 10px 2px 0;
			}
		}

		ul{
			list-style: none;
			padding: 0;
			margin-left: 0;
			text-align: left;
			li{
				padding: 0 0 5px 30px;
				position: relative;
				&:before{
					@include font-awesome('\f058');
					font-size: 16px;
					position: absolute;
					top: 5px;
					left: 0px;
				}
			}
		}

		.ofbel{
			color: $clr-white;
			font-style: italic;
			padding: 0;
			font-family: $fnt-head;
			@media only screen and (max-width: 40em){
				width: 100%;
				text-align: center;
			}
			.phone-container{
				display: inline-block;
				margin-left: 15px;
				.phone{
					font-family: $fnt-head;
					font-weight: 700;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
					color: $clr-white;
					&:before{
						top: -1px;
					}
					&:visited{
						color: $clr-white;
					}
				}
			}
		}

		.readmore{
			margin: 20px auto 0; 
		}


		.gfield_error{
			input[type="text"]{
				border: 1px solid $clr-frm-error;
			}
		}

		.gform_confirmation_message{
			background: $clr-frm-success;
			// position: absolute;
			// top: -80px;
			font-size: 14px;
			border: none !important;
			border-radius: 15px;
			padding: 5px 15px;
			color: $clr-white;
		}

		.validation_error{
			background: $clr-frm-error;
			position: absolute;
			top: -80px;
			font-size: 14px;
			border: none !important;
			border-radius: 15px;
			padding: 5px 15px;
			color: $clr-white;
		}

		.gform_heading{
			margin: 0;
		}

		.gform_wrapper{
			position: relative;
			margin: 0;
			ul{
				li{
					padding: 0;
					margin-bottom: 9px;
					&:before{
						display: none;
					}
				}
			}

			input[type="text"]{
				background: $clr-white;
				border: 1px solid $clr-white;
				padding: 21px 20px;
				// color: $clr-white;
				border-radius: 30px;
				font-size: 16px;
				line-height: 16px;
				height: auto;
				width: 100%;
				margin-bottom: 0;
				// @include placeholder { color:white; }

			}

			.validation_message{
				float: left;
				display: none;
			}

			.gform_footer{
				position: relative;
				top: -69px;
				right: 0px;
				margin-bottom: -69px;
				margin: 0;
				padding: 0;
			}
			.gform_button{
				background: $clr-second-dk;
				width: 40px;
				height: 40px;
				background: $clr-second-dk url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
				border-radius: 50%;
				position: absolute;
				top: 9px;
				right: 10px;
				text-indent: -99999px;

				&:hover{
					background-color: $clr-second;
				}
			}
		}
		
	}

	.socialbuttons{
		a{
			float: right;
		}
	}
}



/*
** cta
*/
.cta{
	@include gradient();	
	position: relative;
	margin-bottom: 80px;

	.container{
		background: url(../img/dots.png) no-repeat right 270px;
		padding: 100px 0;
		@media only screen and (max-width: 40em){
			padding: 140px 0 100px;
		}
		&.nobg{
			background: none;
		}
	}

	.row{
		position: relative;
	}

	.dagen{
		position: absolute;
		top: -150px;
		left: 50px;
		@media only screen and (max-width: 40em){
			top: -200px;
		}
	}

	.widget{
		text-align: center;
		color: $clr-white;
		h2{
			color: $clr-white;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			font-size: 26px;
			margin: 0 0 30px;
		}
		p{
			font-style: italic;
			color: $clr-white;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
			line-height: 28px;
			margin: 0 0 30px;
			font-size: 17px;
			font-family: $fnt-head;
			font-weight: 300;
		}
	}
	
	.inner{
		background: rgba(0,0,0,0.4);
		padding: 10px;
		border-radius: 41px;
		@media only screen and (max-width: 40em){
			background: none;
		}
		.readmore{
			margin: 0;
			padding: 18px 80px 15px 35px;
			@media only screen and (max-width: 40em){
				width: 100%;
			}
		}
		.call{
			float: right;
			color: $clr-white;
			font-style: italic;
			padding: 18px 25px 17px 0;
			font-family: $fnt-head;
			@media only screen and (max-width: 40em){
				width: 100%;
				text-align: center;
			}
			.phone-container{
				display: inline-block;
				margin-left: 15px;
				.phone{
					font-family: $fnt-head;
					font-weight: 700;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
					color: $clr-white;
					&:before{
						top: -1px;
					}
				}
			}
		}
	}
}

.phone-container{
	.phone{
		position: relative;
		padding-left: 25px;
		color: $clr-white;
		&:visited{
			color: $clr-white;
		}
		&:before{
			@include font-awesome('\f098');
			font-size: 18px;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
}

.socialbuttons{
	text-align: right;
	display: inline-block;
	@media only screen and (max-width: 40em) {
		padding: 25px 0; 
		text-align: center;   
	}

	&:after{
		display: table;
		content: "";
		clear: both;
	}

	span{
		display: block;
		float: right;
		margin-right: 15px;
		font-family: $fnt-head;
		line-height: 30px;
		color: $clr-title;
		padding: 15px 0;
		font-style: italic;
	}
	a{
		display: block;
		float: right;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin: 10px 0 0 10px;
		border-radius: 50%;
		background: $clr-main;
		color: $clr-white;
		font-size: 18px;
		transition: 0.3s all ease-in-out;
		@media only screen and (max-width: 40em){
			float: none;
			display: inline-block;
		}
		&:hover{
			background: $clr-main-lt;
		}
		&:last-child{
			margin-right: 0;
		}
		i{
			margin: 0;
		}
	}
}

/*
** footer
*/
.footer-container{
	.footer{
		position: relative;
		@include gradient();

		&.grey{
			background: url(../img/grey-split.jpg) repeat-y center top;
			@media only screen and (max-width: 64em){
				background: #e6e9eb; 
			}
		}

		.tagline{
			position: absolute;
			top: -80px;
			left: 0.8rem;
			font-weight: 700;
			font-size: 26px;
			z-index: 4;
			color: $clr-white;
			span{
				font-weight: 300;
				font-style: italic;
			}
		}
		.dots{
			width: 100%;
			height: 400px;
			background: url(../img/dots.png) no-repeat right top;
			position: absolute;
			top: -50px;
			left: 0px;
			z-index: 1;
		}
		.bol{
			position: absolute;
			top: -230px;
    		left: -50px;
			z-index: 8;
		}
		.top{
			background: url(../img/footer-bg.png) no-repeat center top;
			padding: 170px 0 0;
			position: relative;
			z-index: 5;

			h3{
				font-size: 18px;
				color: $clr-white;
				font-weight: 700;
				margin-bottom: 20px;
			}

			.service{
				.row{
					position: relative;
					@media only screen and (max-width: 40em){
						background: $clr-footer-dk;
					}
				}

				.margbot{
					margin-bottom: 40px;
				}

				.phone{
					color: $clr-white;
					font-family: $fnt-head;
					margin-bottom: 15px;
					font-weight: 700;
					display: block;
					&:before{
						color: $clr-main;
						top: 4px;
					}
					
				}

				.email{
					position: relative;
					padding-left: 25px;
					color: $clr-white;
					font-family: $fnt-head;
					margin-bottom: 15px;
					font-weight: 700;
					display: block;
					@media only screen and (max-width: 40em){
						margin-bottom: 40px;
					}
					&:before{
						@include font-awesome('\f199');
						font-size: 18px;
						position: absolute;
						top: 4px;
						left: 0px;
						color: $clr-main;
					}
					&:hover{
						color: $clr-main;
					}
				}

				.readmore{
					// margin-top: 30px;
				}

				.service-menu{
					margin: 0;
					padding: 0;
					@media only screen and (max-width: 40em){
						margin-bottom: 30px;
					}
					li{
						display: block;
						margin-bottom: 10px;
						a{
							position: relative;
							padding-left: 25px;
							color: $clr-white;
							&:before{
								content: "";
								width: 12px;
								height: 12px;
								position: absolute;
								top: 3px;
								left: 0px;
								background: url(../svg/arrow-orange.svg) no-repeat left top / contain;
							}
							&:hover{
								color: $clr-main;
							}
						}
					}
				}

				.widget{
					margin-bottom: 30px;
					a{
						border-radius: 40px;
						line-height: 26px;
						display: inline-block;
						border: 2px solid #3d4144;
						transition: 0.3s all ease-in-out;
						color: $clr-main;
						font-size: 15px;
						font-weight: 300;
						padding: 5px 39px 5px 15px;
						position: relative;
						&:after{
							position: absolute;
							right: 12px;
							top: 7px;
							content: "";
							width: 20px;
							height: 20px;
							background: transparent url(../svg/arrow-white.svg) no-repeat center center / 12px 12px;
							display: inline-block;
						}
						&:hover{
							color: $clr-white;
							border-color: $clr-main;
						}
					}
				}
			}

			.dotted-divider{
				border-top: 2px dotted #404447;
				padding: 50px 0 0;
				background: none;
			}
			.social{
				padding: 0 0 30px;
				background: $clr-footer-dk;
				h2{
					color: $clr-white;
					padding: 20px 0;
					font-size: 18px;
				}
			}

		}

		.newsletter{
			position: relative;
			iframe{
				display: none;
			}

			input[type="text"]{
				background: $clr-footer;
				border: 1px solid $clr-footer;
				padding: 21px 20px;
				color: $clr-white;
				border-radius: 30px;
				font-size: 16px;
				line-height: 16px;
				height: auto;
				width: 100%;
				@include placeholder { color:white; }

			}

			.gfield_error{
				input[type="text"]{
					// border: 1px solid $clr-frm-error;
				}
			}

			.gform_confirmation_message{
				background: $clr-frm-success;
				// position: absolute;
				// top: -80px;
				font-size: 14px;
				border: none !important;
				border-radius: 15px;
				padding: 5px 15px;
				color: $clr-white;
			}

			.validation_error{
				background: $clr-frm-success;
				position: absolute;
				top: -80px;
				font-size: 14px;
				border: none !important;
				border-radius: 15px;
				padding: 5px 15px;
				color: $clr-white;
				display: none;
			}

			.gform_heading{
				margin: 0;
			}

			.gform_wrapper{
				position: relative;
				margin: 0;

				.validation_message{
					position: absolute;
					top: 60px;
   	 				left: 20px;
				}

				.gform_footer{
					position: relative;
					top: -69px;
					right: 0px;
					margin-bottom: -69px;
					margin: 0;
					padding: 0;
				}
				.gform_button{
					background: $clr-second-dk;
					width: 40px;
					height: 40px;
					background: $clr-second-dk url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
					border-radius: 50%;
					position: absolute;
					top: 0px;
					right: 10px;
					text-indent: -99999px;

					&:hover{
						background-color: $clr-second;
					}
				}
			}
		}

		.bottom{
			font-size: 14px;
			padding: 30px 0;
			background: $clr-footer;
			position: relative;
			z-index: 5;
			.divider{
				padding: 0 10px;
			}
			a{
				color: $clr-white;
				&:hover{
					color: $clr-main;
				}
			}

			.site-generator{
				@media only screen and (max-width: 40em){
					width: 100%;
					text-align: center;
				}
			}

			.footer-menu{
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: right;
				@media only screen and (max-width: 40em){
					width: 100%;
					text-align: center;
				}
				li{
					display: inline-block;
					&:after{
						content: "|";
						color: #787b7e;
						padding: 0 10px;
					}
					&:last-child{
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}

.facetsearch{
	padding: 0 0 80px;
	@media only screen and (max-width: 40em){
		padding: 0 0 0px;
	}
    .faceted-search-content{

    	.list-item{
    		margin-bottom: 20px;
    		border: 2px solid $clr-grey-bg;
    		background: $clr-white;
    		border-radius: 10px;
    		overflow: hidden;
    		display: block;
    		position: relative;
    		transition: 0.3s all ease-in-out;

    		&:hover {
    			background: $clr-grey-bg;
    			border-color: #dcdfe0;
    			text-decoration: none;
			}

    		.entry{
    			padding: 30px 30px 30px 100px;
    			border-radius: 5px;    			

				.entry-meta{
					position: absolute;
					left: 30px;
					top: 30px;
					color: $clr-main;
					font-family: $fnt-head;

					span{
						display: block;
						line-height: 26px;
						width: 100%;
						text-align: center;

						&.day{
							font-size: 24px;
							font-weight: 700;
						}
						&.month{
							font-size: 18px;
							font-weight: 700;
							text-transform: lowercase;
						}
						&.year{
							font-size: 14px;
							font-weight: 400;
							color: $clr-title;
						}
					}
				}

				.entry-content{
					h2{
						font-size: 16px;
						color: $clr-main;
						margin-bottom: 20px;
					}
					p{
						margin-bottom: 20px;
					}
					.more{
						color: $clr-main;
						&:after{
							content: "";
							width: 10px;
							height: 10px;
							background: url(../svg/arrow-black.svg) no-repeat center center / 10px 10px;
							margin-left: 10px;
							display: inline-block;
						}
					}
				}
    		}

    		&.blog-item {

				.entry-content {
					h2 {
						margin-bottom: 0;
					}
					.author {
						display: block;
						font-size: $fnt-small-size;
						margin-bottom: 10px;
						color: $clr-grey;
					}

				}
				
					
			}
    	}


    }

    .faceted-search-footer{
		text-align: center;		

		.showmore{
			text-align: center;
			font-style: normal;
			font-weight: 700;
			text-transform: uppercase;
			padding: 20px 0 0;
			display: inline-block;
			color: $clr-main;
			text-decoration: none;
			background: none;
			box-shadow: none;
			margin: 40px 0 0;

			&.button{
				border-radius: 5px;
				background: $clr-main;
				border-bottom: 3px solid $clr-main;
				color: $clr-white;
				text-transform: inherit;
				font-weight: bold;
				font-size: 16px;
				padding: 15px 20px 15px 25px;

				&:hover{
					background: $clr-main;
					border-bottom: 3px solid darken($clr-main, 10%);
				}
			}

			&:after{
				display: none;
			}
			.label{
				display: inline-block;
				background: none;
				font-size: 16px;
				font-weight: 700;
				color: $clr-white;
			}
			.arrow{
				display: inline;
				color: $clr-white;
				margin: 0 0 20px;
			}
			&:hover{
				.arrow{
					// margin: 10px 0 0;
				}
			}
		}

		.load-indicator{
			margin: 40px 0 0;
		}
	}

}

#glmap{
	position: relative;
	// border-bottom: 2px solid $clr-white;
	// border-top: 2px solid $clr-white;
	.infoblock{
		background: $clr-white;
		border-radius: 5px;
		padding: 40px;
		text-align: left;
		position: absolute;
		left: 18%;
		top: 50%;
		margin-top: -120px;
		width: 380px;
		z-index: 5;
		@include box-shadow(0px, 4px, 10px, rgba(0, 0, 0, 0.2));
		h3{
			margin: 0;
		}
		p{
			padding: 20px 0;
			text-align: left;
		}
	}
	#map-canvas {
        width: 100%;
        height: 525px;
    }
}

.load-indicator { 
	display: none;

	.spinner {
		margin: 15px auto 0;
		width: 70px;
		text-align: center;
		.bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}

		.bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
	}

	.spinner > div {
		width: 18px;
		height: 18px;
		background-color: $clr-main;

		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
}

.home{
	.cta{
		margin-bottom: 0px;
	}
}

.single-blog {
	.singular-header {
		.author {
			font-size: $fnt-small-size;
		}
	}
}