/******************
 * SCSS Variables   *
 ******************/
/*
** Breadcrumbs
*/
/******************
 * SCSS Variables   *
 ******************/
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }

  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

[class*="column"] + [class*="column"]:last-child {
  float: left; }

html, body {
  min-height: 100%;
  background: #707e8a;
  line-height: 26px;
  color: #5b6770; }

body, input, textarea {
  font-family: 'ff-dagny-web-pro', sans-serif;
  font-size: 16px;
  color: #5b6770;
  line-height: 26px; }

a {
  text-decoration: none;
  color: #5b6770; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  margin: 0;
  text-decoration: none;
  color: #2b2c2f; }

h1 {
  font-size: 24px;
  line-height: normal;
  font-weight: 700; }

h2 {
  font-size: 20px;
  line-height: normal;
  font-weight: 700; }

h3 {
  font-size: 18px;
  line-height: normal;
  font-weight: 300; }

h4 {
  font-size: 16px;
  line-height: normal;
  font-weight: 300; }

h5 {
  font-size: 13px;
  line-height: normal;
  font-weight: 300; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

.std dl dl {
  margin: 0 0 1.5em 0; }
  .std dl dl dt {
    font-weight: normal; }
  .std dl dd {
    margin-left: 1.5em; }
  .std dl table {
    margin-bottom: 1.4em; }
  .std dl th {
    font-weight: normal; }
  .std dl th, .std dl td, .std dl caption {
    padding: 3px 10px 3px 0; }
  .std dl tfoot {
    font-style: italic; }
  .std dl caption {
    background: #eee; }

.bottom-collapse-container {
  overflow: hidden;
  cursor: pointer; }
  .bottom-collapse-container .bottom-collapse {
    background-color: #707e8a;
    bottom: -70px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .bottom-collapse-container .bottom-collapse span {
    margin-top: 10px;
    display: block;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    text-transform: uppercase; }
  .bottom-collapse-container .bottom-collapse .fa {
    font-size: 12px;
    margin-top: 10px;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }
  .bottom-collapse-container:hover .bottom-collapse {
    bottom: 0; }
    .bottom-collapse-container:hover .bottom-collapse span, .bottom-collapse-container:hover .bottom-collapse .fa {
      margin-top: 0;
      -webkit-transition-delay: 0.05s;
      -khtml-transition-delay: 0.05s;
      -moz-transition-delay: 0.05s;
      -ms-transition-delay: 0.05s;
      -o-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .bottom-collapse-container:hover .bottom-collapse .fa {
      -webkit-transition-delay: 0.125s;
      -khtml-transition-delay: 0.125s;
      -moz-transition-delay: 0.125s;
      -ms-transition-delay: 0.125s;
      -o-transition-delay: 0.125s;
      transition-delay: 0.125s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.hide {
  overflow: hidden;
  height: 0; }

.nodisplay {
  display: none; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 2em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /******************************************
 * Border (single-line)                   *
 * -------------------------------------- *
 * a: all             l: light            *
 * t: top             m: medium           *
 * r: right           d: dark             *
 * b: bottom          b: black            *
 * l: left                                *
 * h: horizontal                          *
 * v: vertical                            *
 ******************************************/ }

.no-border {
  border: none; }

.bal {
  border: 1px solid #e3e6e9; }

.bam {
  border: 1px solid #dadada; }

.bad {
  border: 1px solid #ccc; }

.bab {
  border: 1px solid #000; }

.btl {
  border-top: 1px solid #e3e6e9; }

.btm {
  border-top: 1px solid #dadada; }

.btd {
  border-top: 1px solid #ccc; }

.btb {
  border-top: 1px solid #000; }

.brl {
  border-right: 1px solid #e3e6e9; }

.brm {
  border-right: 1px solid #dadada; }

.brd {
  border-right: 1px solid #ccc; }

.brb {
  border-right: 1px solid #000; }

.bbl {
  border-bottom: 1px solid #e3e6e9; }

.bbm {
  border-bottom: 1px solid #dadada; }

.bbd {
  border-bottom: 1px solid #ccc; }

.bbb {
  border-bottom: 1px solid #000; }

.bll {
  border-left: 1px solid #e3e6e9; }

.blm {
  border-left: 1px solid #dadada; }

.bld {
  border-left: 1px solid #ccc; }

.blb {
  border-left: 1px solid #000; }

.bhl {
  border-top: 1px solid #e3e6e9;
  border-bottom: 1px solid #e3e6e9; }

.bhm {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

.bhd {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.bhb {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.bvl {
  border-left: 1px solid #e3e6e9;
  border-right: 1px solid #e3e6e9; }

.bvm {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada; }

.bvd {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.bvb {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  /******************************************
 * Border radius                          *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom                              *
 * l: left                                *
 ******************************************/ }

.bran {
  border-radius: 0; }

.brat {
  border-radius: 2px; }

.bras {
  border-radius: 5px; }

.brtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.brtt {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.brts {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.brrn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.brrt {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.brrs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.brbn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.brbt {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.brbs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.brln {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.brlt {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.brls {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /******************************************
 * Margins & Paddings                     *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom             m: medium (10px) *
 * l: left               l: large (15px)  *
 * h: horizontal         h: huge (20px)   *
 * v: vertical                            *
 ******************************************/ }

.man {
  margin: 0; }

.mat {
  margin: 2px; }

.mas {
  margin: 15px; }

.mam {
  margin: 30px; }

.mal {
  margin: 60px; }

.mah {
  margin: 90px; }

.mtn {
  margin-top: 0; }

.mtt {
  margin-top: 2px; }

.mts {
  margin-top: 15px; }

.mtm {
  margin-top: 30px; }

.mtl {
  margin-top: 60px; }

.mth {
  margin-top: 90px; }

.mrn {
  margin-right: 0; }

.mrt {
  margin-right: 2px; }

.mrs {
  margin-right: 15px; }

.mrm {
  margin-right: 30px; }

.mrl {
  margin-right: 60px; }

.mrh {
  margin-right: 90px; }

.mbn {
  margin-bottom: 0; }

.mbt {
  margin-bottom: 2px; }

.mbs {
  margin-bottom: 15px; }

.mbm {
  margin-bottom: 30px; }

.mbl {
  margin-bottom: 60px; }

.mbh {
  margin-bottom: 90px; }

.mln {
  margin-left: 0; }

.mlt {
  margin-left: 2px; }

.mls {
  margin-left: 15px; }

.mlm {
  margin-left: 30px; }

.mll {
  margin-left: 60px; }

.mlh {
  margin-left: 90px; }

.mhn {
  margin-left: 0;
  margin-right: 0; }

.mht {
  margin-left: 2px;
  margin-right: 2px; }

.mhs {
  margin-left: 15px;
  margin-right: 15px; }

.mhm {
  margin-left: 30px;
  margin-right: 30px; }

.mhl {
  margin-left: 60px;
  margin-right: 60px; }

.mhh {
  margin-left: 30px;
  margin-right: 90px; }

.mvn {
  margin-top: 0;
  margin-bottom: 0; }

.mvt {
  margin-top: 2px;
  margin-bottom: 2px; }

.mvs {
  margin-top: 15px;
  margin-bottom: 15px; }

.mvm {
  margin-top: 30px;
  margin-bottom: 30px; }

.mvl {
  margin-top: 60px;
  margin-bottom: 60px; }

.mvh {
  margin-top: 30px;
  margin-bottom: 90px; }

.pan {
  padding: 0; }

.pat {
  padding: 2px; }

.pas {
  padding: 15px; }

.pam {
  padding: 30px; }

.pal {
  padding: 60px; }

.pah {
  padding: 90px; }

.ptn {
  padding-top: 0; }

.ptt {
  padding-top: 2px; }

.pts {
  padding-top: 15px; }

.ptm {
  padding-top: 30px; }

.ptl {
  padding-top: 60px; }

.pth {
  padding-top: 90px; }

.prn {
  padding-right: 0; }

.prt {
  padding-right: 2px; }

.prs {
  padding-right: 15px; }

.prm {
  padding-right: 30px; }

.prl {
  padding-right: 60px; }

.prh {
  padding-right: 90px; }

.pbn {
  padding-bottom: 0; }

.pbt {
  padding-bottom: 2px; }

.pbs {
  padding-bottom: 15px; }

.pbm {
  padding-bottom: 30px; }

.pbl {
  padding-bottom: 60px; }

.pbh {
  padding-bottom: 90px; }

.pln {
  padding-left: 0; }

.plt {
  padding-left: 2px; }

.pls {
  padding-left: 15px; }

.plm {
  padding-left: 30px; }

.pll {
  padding-left: 60px; }

.plh {
  padding-left: 90px; }

.phn {
  padding-left: 0;
  padding-right: 0; }

.pht {
  padding-left: 2px;
  padding-right: 2px; }

.phs {
  padding-left: 15px;
  padding-right: 15px; }

.phm {
  padding-left: 30px;
  padding-right: 30px; }

.phl {
  padding-left: 60px;
  padding-right: 60px; }

.phh {
  padding-left: 30px;
  padding-right: 90px; }

.pvn {
  padding-top: 0;
  padding-bottom: 0; }

.pvt {
  padding-top: 2px;
  padding-bottom: 2px; }

.pvs {
  padding-top: 15px;
  padding-bottom: 15px; }

.pvm {
  padding-top: 30px;
  padding-bottom: 30px; }

.pvl {
  padding-top: 60px;
  padding-bottom: 60px; }

.pvh {
  padding-top: 30px;
  padding-bottom: 90px; }

.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }
  .custom-checkbox [type="checkbox"]:not(:checked) + label, .custom-checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    /* checkbox aspect */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 17px;
    height: 17px;
    border: 1px solid #707e8a;
    background: #fff;
    border-radius: 2px;
    /* checked mark aspect */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:after, .custom-checkbox [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 7px;
    left: 1px;
    font-size: 18px;
    line-height: 0.8;
    color: #ea6400;
    transition: all 0.2s;
    /* checked mark aspect changes */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .custom-checkbox [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
    /* disabled checkbox */ }
  .custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .custom-checkbox [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .custom-checkbox [type="checkbox"]:disabled + label {
    color: #aaa;
    /* accessibility */ }
  .custom-checkbox [type="checkbox"]:checked:focus + label:before, .custom-checkbox [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
    /* hover style just for information */ }
  .custom-checkbox label:hover:before {
    border: 1px solid #00aeef !important; }

.breadcrumbs {
  margin: 0;
  padding: 0;
  float: right;
  /*
** Lists
*/ }

.display-list {
  margin: 0;
  padding: 0; }
  .display-list .list-item a {
    text-decoration: none; }
    .display-list .list-item a:hover {
      text-decoration: none; }

.sharethis {
  display: inline-block;
  margin: 0;
  padding: 5px 15px;
  border: 2px solid #edf0f3;
  color: #2b2c2f;
  border-radius: 20px;
  margin: 0 0 20px 0; }
  .sharethis h4 {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .sharethis .share-list {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .sharethis .share-list .list-item {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0;
    vertical-align: top; }
    .sharethis .share-list .list-item a {
      color: #ea6400;
      font-size: 18px; }
      .sharethis .share-list .list-item a:hover {
        color: #2b2c2f; }

.mail-share-container {
  border: 2px solid #edf0f3;
  padding: 15px;
  border-radius: 4px; }
  .mail-share-container .mail-share-header {
    margin: 0 0 15px;
    padding: 0;
    font-family: 'ff-karbid-text-web-pro', sans-serif;
    font-size: 16px;
    color: #2b2c2f;
    text-decoration: none;
    line-height: normal;
    font-weight: 300; }
  .mail-share-container .mail-share-content {
    margin: 0;
    padding: 0; }
  .mail-share-container .mail-share-content dl {
    margin: 0;
    padding: 0; }
  .mail-share-container .mail-share-content dd {
    margin: 0 0 5px;
    padding: 0; }
  .mail-share-container .mail-share-content p {
    margin-bottom: 10px; }
    .mail-share-container .mail-share-content p:last-child {
      margin-bottom: 0; }
  .mail-share-container .submit {
    margin-bottom: 10px; }
  .mail-share-container .submit .button {
    margin-bottom: 0; }
  .mail-share-container .notify-message {
    margin-bottom: 10px; }

.features {
  padding: 0 0 20px; }
  .features.padbot {
    padding-bottom: 80px; }
  .features .singular-widgets .widget {
    margin-bottom: 0; }

.feature-list {
  /*
** Feature
*/ }
  .feature-list .list-item {
    text-align: center; }
  .feature-list .list-item .entry-header {
    margin: 0;
    padding: 30px 0 0;
    -webkit-transition: padding 0.5s ease;
    -khtml-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -ms-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease; }
  .feature-list .list-item .entry-title {
    font-size: 16px;
    font-weight: 700; }
  .feature-list .list-item .entry-image {
    min-height: 80px; }
    .feature-list .list-item .entry-image span {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 60px;
      height: 60px;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      -khtml-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -ms-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%; }
  .feature-list .list-item .entry-content {
    margin: 0 0 20px;
    padding: 40px 0 0;
    -webkit-transition: padding 0.5s ease;
    -khtml-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -ms-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease; }
  .feature-list .list-item .entry-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -42px;
    -webkit-transition: bottom 0.5s ease;
    -khtml-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease; }
    .feature-list .list-item .entry-footer .readmore {
      margin-bottom: 0; }
  .feature-list .list-item > a {
    position: relative;
    display: block;
    margin: 0 0 1.875rem 0;
    padding: 20px;
    overflow: hidden;
    border: 2px solid #e2e6e9;
    height: 308px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -khtml-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .feature-list .list-item > a:hover {
      padding-bottom: 70px;
      background-color: #ecf0f3;
      color: inherit; }
      .feature-list .list-item > a:hover .entry-header {
        padding-top: 0; }
      .feature-list .list-item > a:hover .entry-content {
        padding-top: 20px; }
      .feature-list .list-item > a:hover .entry-footer {
        bottom: 30px; }
      .feature-list .list-item > a:hover .readmore {
        background-color: #fff; }

.single-feature .single-image {
  margin: 0;
  padding: 0; }
  .single-feature .single-image span {
    display: block;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%; }
  .single-feature .singular-content .single-image {
    padding: 20px 25px 25px 20px;
    float: left; }
