/******************
 * SCSS Variables   *
 ******************/
/******************
 * SCSS Variables   *
 ******************/
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }

  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

[class*="column"] + [class*="column"]:last-child {
  float: left; }

html, body {
  min-height: 100%;
  background: #707e8a;
  line-height: 26px;
  color: #5b6770; }

body, input, textarea {
  font-family: 'ff-dagny-web-pro', sans-serif;
  font-size: 16px;
  color: #5b6770;
  line-height: 26px; }

a {
  text-decoration: none;
  color: #5b6770; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ff-karbid-text-web-pro', sans-serif;
  margin: 0;
  text-decoration: none;
  color: #2b2c2f; }

h1 {
  font-size: 24px;
  line-height: normal;
  font-weight: 700; }

h2 {
  font-size: 20px;
  line-height: normal;
  font-weight: 700; }

h3 {
  font-size: 18px;
  line-height: normal;
  font-weight: 300; }

h4 {
  font-size: 16px;
  line-height: normal;
  font-weight: 300; }

h5 {
  font-size: 13px;
  line-height: normal;
  font-weight: 300; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

.std dl dl {
  margin: 0 0 1.5em 0; }
  .std dl dl dt {
    font-weight: normal; }
  .std dl dd {
    margin-left: 1.5em; }
  .std dl table {
    margin-bottom: 1.4em; }
  .std dl th {
    font-weight: normal; }
  .std dl th, .std dl td, .std dl caption {
    padding: 3px 10px 3px 0; }
  .std dl tfoot {
    font-style: italic; }
  .std dl caption {
    background: #eee; }

.bottom-collapse-container {
  overflow: hidden;
  cursor: pointer; }
  .bottom-collapse-container .bottom-collapse {
    background-color: #707e8a;
    bottom: -70px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .bottom-collapse-container .bottom-collapse span {
    margin-top: 10px;
    display: block;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    text-transform: uppercase; }
  .bottom-collapse-container .bottom-collapse .fa {
    font-size: 12px;
    margin-top: 10px;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }
  .bottom-collapse-container:hover .bottom-collapse {
    bottom: 0; }
    .bottom-collapse-container:hover .bottom-collapse span, .bottom-collapse-container:hover .bottom-collapse .fa {
      margin-top: 0;
      -webkit-transition-delay: 0.05s;
      -khtml-transition-delay: 0.05s;
      -moz-transition-delay: 0.05s;
      -ms-transition-delay: 0.05s;
      -o-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .bottom-collapse-container:hover .bottom-collapse .fa {
      -webkit-transition-delay: 0.125s;
      -khtml-transition-delay: 0.125s;
      -moz-transition-delay: 0.125s;
      -ms-transition-delay: 0.125s;
      -o-transition-delay: 0.125s;
      transition-delay: 0.125s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.hide {
  overflow: hidden;
  height: 0; }

.nodisplay {
  display: none; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 2em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /******************************************
 * Border (single-line)                   *
 * -------------------------------------- *
 * a: all             l: light            *
 * t: top             m: medium           *
 * r: right           d: dark             *
 * b: bottom          b: black            *
 * l: left                                *
 * h: horizontal                          *
 * v: vertical                            *
 ******************************************/ }

.no-border {
  border: none; }

.bal {
  border: 1px solid #e3e6e9; }

.bam {
  border: 1px solid #dadada; }

.bad {
  border: 1px solid #ccc; }

.bab {
  border: 1px solid #000; }

.btl {
  border-top: 1px solid #e3e6e9; }

.btm {
  border-top: 1px solid #dadada; }

.btd {
  border-top: 1px solid #ccc; }

.btb {
  border-top: 1px solid #000; }

.brl {
  border-right: 1px solid #e3e6e9; }

.brm {
  border-right: 1px solid #dadada; }

.brd {
  border-right: 1px solid #ccc; }

.brb {
  border-right: 1px solid #000; }

.bbl {
  border-bottom: 1px solid #e3e6e9; }

.bbm {
  border-bottom: 1px solid #dadada; }

.bbd {
  border-bottom: 1px solid #ccc; }

.bbb {
  border-bottom: 1px solid #000; }

.bll {
  border-left: 1px solid #e3e6e9; }

.blm {
  border-left: 1px solid #dadada; }

.bld {
  border-left: 1px solid #ccc; }

.blb {
  border-left: 1px solid #000; }

.bhl {
  border-top: 1px solid #e3e6e9;
  border-bottom: 1px solid #e3e6e9; }

.bhm {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

.bhd {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.bhb {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.bvl {
  border-left: 1px solid #e3e6e9;
  border-right: 1px solid #e3e6e9; }

.bvm {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada; }

.bvd {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.bvb {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  /******************************************
 * Border radius                          *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom                              *
 * l: left                                *
 ******************************************/ }

.bran {
  border-radius: 0; }

.brat {
  border-radius: 2px; }

.bras {
  border-radius: 5px; }

.brtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.brtt {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.brts {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.brrn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.brrt {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.brrs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.brbn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.brbt {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.brbs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.brln {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.brlt {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.brls {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /******************************************
 * Margins & Paddings                     *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom             m: medium (10px) *
 * l: left               l: large (15px)  *
 * h: horizontal         h: huge (20px)   *
 * v: vertical                            *
 ******************************************/ }

.man {
  margin: 0; }

.mat {
  margin: 2px; }

.mas {
  margin: 15px; }

.mam {
  margin: 30px; }

.mal {
  margin: 60px; }

.mah {
  margin: 90px; }

.mtn {
  margin-top: 0; }

.mtt {
  margin-top: 2px; }

.mts {
  margin-top: 15px; }

.mtm {
  margin-top: 30px; }

.mtl {
  margin-top: 60px; }

.mth {
  margin-top: 90px; }

.mrn {
  margin-right: 0; }

.mrt {
  margin-right: 2px; }

.mrs {
  margin-right: 15px; }

.mrm {
  margin-right: 30px; }

.mrl {
  margin-right: 60px; }

.mrh {
  margin-right: 90px; }

.mbn {
  margin-bottom: 0; }

.mbt {
  margin-bottom: 2px; }

.mbs {
  margin-bottom: 15px; }

.mbm {
  margin-bottom: 30px; }

.mbl {
  margin-bottom: 60px; }

.mbh {
  margin-bottom: 90px; }

.mln {
  margin-left: 0; }

.mlt {
  margin-left: 2px; }

.mls {
  margin-left: 15px; }

.mlm {
  margin-left: 30px; }

.mll {
  margin-left: 60px; }

.mlh {
  margin-left: 90px; }

.mhn {
  margin-left: 0;
  margin-right: 0; }

.mht {
  margin-left: 2px;
  margin-right: 2px; }

.mhs {
  margin-left: 15px;
  margin-right: 15px; }

.mhm {
  margin-left: 30px;
  margin-right: 30px; }

.mhl {
  margin-left: 60px;
  margin-right: 60px; }

.mhh {
  margin-left: 30px;
  margin-right: 90px; }

.mvn {
  margin-top: 0;
  margin-bottom: 0; }

.mvt {
  margin-top: 2px;
  margin-bottom: 2px; }

.mvs {
  margin-top: 15px;
  margin-bottom: 15px; }

.mvm {
  margin-top: 30px;
  margin-bottom: 30px; }

.mvl {
  margin-top: 60px;
  margin-bottom: 60px; }

.mvh {
  margin-top: 30px;
  margin-bottom: 90px; }

.pan {
  padding: 0; }

.pat {
  padding: 2px; }

.pas {
  padding: 15px; }

.pam {
  padding: 30px; }

.pal {
  padding: 60px; }

.pah {
  padding: 90px; }

.ptn {
  padding-top: 0; }

.ptt {
  padding-top: 2px; }

.pts {
  padding-top: 15px; }

.ptm {
  padding-top: 30px; }

.ptl {
  padding-top: 60px; }

.pth {
  padding-top: 90px; }

.prn {
  padding-right: 0; }

.prt {
  padding-right: 2px; }

.prs {
  padding-right: 15px; }

.prm {
  padding-right: 30px; }

.prl {
  padding-right: 60px; }

.prh {
  padding-right: 90px; }

.pbn {
  padding-bottom: 0; }

.pbt {
  padding-bottom: 2px; }

.pbs {
  padding-bottom: 15px; }

.pbm {
  padding-bottom: 30px; }

.pbl {
  padding-bottom: 60px; }

.pbh {
  padding-bottom: 90px; }

.pln {
  padding-left: 0; }

.plt {
  padding-left: 2px; }

.pls {
  padding-left: 15px; }

.plm {
  padding-left: 30px; }

.pll {
  padding-left: 60px; }

.plh {
  padding-left: 90px; }

.phn {
  padding-left: 0;
  padding-right: 0; }

.pht {
  padding-left: 2px;
  padding-right: 2px; }

.phs {
  padding-left: 15px;
  padding-right: 15px; }

.phm {
  padding-left: 30px;
  padding-right: 30px; }

.phl {
  padding-left: 60px;
  padding-right: 60px; }

.phh {
  padding-left: 30px;
  padding-right: 90px; }

.pvn {
  padding-top: 0;
  padding-bottom: 0; }

.pvt {
  padding-top: 2px;
  padding-bottom: 2px; }

.pvs {
  padding-top: 15px;
  padding-bottom: 15px; }

.pvm {
  padding-top: 30px;
  padding-bottom: 30px; }

.pvl {
  padding-top: 60px;
  padding-bottom: 60px; }

.pvh {
  padding-top: 30px;
  padding-bottom: 90px; }

.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }
  .custom-checkbox [type="checkbox"]:not(:checked) + label, .custom-checkbox [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    /* checkbox aspect */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 17px;
    height: 17px;
    border: 1px solid #707e8a;
    background: #fff;
    border-radius: 2px;
    /* checked mark aspect */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:after, .custom-checkbox [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 7px;
    left: 1px;
    font-size: 18px;
    line-height: 0.8;
    color: #ea6400;
    transition: all 0.2s;
    /* checked mark aspect changes */ }
  .custom-checkbox [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .custom-checkbox [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
    /* disabled checkbox */ }
  .custom-checkbox [type="checkbox"]:disabled:not(:checked) + label:before, .custom-checkbox [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .custom-checkbox [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .custom-checkbox [type="checkbox"]:disabled + label {
    color: #aaa;
    /* accessibility */ }
  .custom-checkbox [type="checkbox"]:checked:focus + label:before, .custom-checkbox [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
    /* hover style just for information */ }
  .custom-checkbox label:hover:before {
    border: 1px solid #00aeef !important; }

html, body {
  background-color: #34383b; }

a {
  text-decoration: none;
  color: #ea6400; }
  a:hover {
    text-decoration: none;
    color: #2b2c2f; }

.right {
  float: right; }

.left {
  float: left; }

.nopad {
  padding: 0; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

.nopad-bot {
  padding-bottom: 0 !important; }

.body-container {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.shortborder:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #ef7b00;
  background: -moz-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ef7b00), color-stop(100%, #e63212));
  background: -webkit-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -o-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -ms-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: linear-gradient(to right, #ef7b00 0%, #e63212 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7b00', endColorstr='#e63212', GradientType=1);
  display: block;
  margin-top: 30px; }

.dotted-divider {
  background: url(../img/dots-divider.png) repeat-y right top;
  /*
** Readmore
*/ }

.readmore {
  /*
** Header
*/ }
  .readmore.button {
    background: #00aeef;
    border-radius: 60px;
    font-family: 'ff-karbid-text-web-pro';
    padding: 5px 15px;
    color: #fff;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 2px solid #009dd6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out; }
  .readmore.button:hover {
    background: #0bf;
    text-decoration: none; }
  .readmore.button.lite {
    padding: 7px 15px 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
  .readmore.button.large {
    padding: 18px 35px 15px 25px; }
  .readmore.button.arrow {
    padding: 18px 70px 15px 25px;
    position: relative;
    text-transform: uppercase; }
    .readmore.button.arrow:after {
      position: absolute;
      right: 10px;
      top: calc(50% - 20px);
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #009dd6 url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
      display: inline-block; }
  .readmore.button.invert {
    background: none;
    border: 2px solid #dcdfe0;
    color: #ea6400;
    font-size: 15px;
    font-weight: 300;
    text-shadow: none; }
    .readmore.button.invert:hover {
      border: 2px solid #ea6400;
      color: #2b2c2f; }
    .readmore.button.invert.arrow {
      padding: 5px 39px 5px 15px;
      text-transform: none; }
      .readmore.button.invert.arrow:after {
        position: absolute;
        right: 12px;
        top: 7px;
        content: "";
        width: 20px;
        height: 20px;
        background: transparent url(../svg/arrow-black.svg) no-repeat center center / 12px 12px;
        display: inline-block; }
      .readmore.button.invert.arrow.down:after {
        -webkit-transform: rotate(90deg);
        -khtml-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
        zoom: 1; }
      .readmore.button.invert.arrow.leftie {
        padding: 5px 15px 5px 39px; }
        .readmore.button.invert.arrow.leftie:after {
          right: auto;
          left: 12px;
          -webkit-transform: rotate(180deg);
          -khtml-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          filter: progid:DXImageTransform.Microsoft.Matrix(M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
          zoom: 1; }
      .readmore.button.invert.arrow.dark {
        border-color: #3d4144; }
        .readmore.button.invert.arrow.dark:after {
          background: transparent url(../svg/arrow-white.svg) no-repeat center center / 12px 12px; }
        .readmore.button.invert.arrow.dark:hover {
          color: #fff;
          border-color: #ea6400; }

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /*
	** Main menu
	*/
  z-index: 500;
  /*
** Featured
*/ }
  .header .navbar {
    float: right; }
  @media only screen and (max-width: 40em) {
    .header .navbar {
      float: none; } }
  .header .navbar .main-menu {
    margin: 10px 20px 0 0;
    padding: 0;
    list-style-type: none;
    transition: 0.3s all ease-in-out; }
    @media only screen and (max-width: 40em) {
    .header .navbar .main-menu {
      display: none; }
      .header .navbar .main-menu.active {
        display: block;
        list-style: none;
        padding: 30px 0 0; }
        .header .navbar .main-menu.active .menu-item {
          display: block;
          padding: 0; }
          .header .navbar .main-menu.active .menu-item:before {
            display: none; }
          .header .navbar .main-menu.active .menu-item:last-child a {
            border-bottom: none; }
          .header .navbar .main-menu.active .menu-item.home-item > a:before {
            display: inline-block;
            margin-right: 15px; }
            .header .navbar .main-menu.active .menu-item.home-item > a span {
              display: inline-block; }
          .header .navbar .main-menu.active .menu-item a {
            padding: 10px 20px;
            border-bottom: 1px solid #edf0f3;
            display: block; }
        .header .navbar .main-menu.active .sub-menu {
          display: none !important;
          opacity: 0 !important;
          pointer-events: none !important; } }
    .header .navbar .main-menu .menu-item {
      display: inline-block;
      margin: 0;
      padding: 0 0 5px 20px;
      vertical-align: top;
      color: #5b6770;
      position: relative;
      font-family: 'ff-karbid-text-web-pro';
      font-size: 15px; }
      .header .navbar .main-menu .menu-item.home-item > a {
        padding-top: 2px;
        display: block; }
        .header .navbar .main-menu .menu-item.home-item > a:before {
          width: 18px;
          height: 18px;
          display: block;
          content: "";
          background: url(../svg/icon-home-grey.svg) no-repeat center center / cover; }
        .header .navbar .main-menu .menu-item.home-item > a:hover:before {
          background: url(../svg/icon-home.svg) no-repeat center center / cover; }
        .header .navbar .main-menu .menu-item.home-item > a span {
          display: none; }
      .header .navbar .main-menu .menu-item:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f111";
        padding-right: 20px;
        font-size: 0.3em;
        vertical-align: middle; }
      .header .navbar .main-menu .menu-item:first-child:before {
        display: none; }
      .header .navbar .main-menu .menu-item a {
        color: #5b6770;
        display: inline-block;
        padding: 0 0 10px; }
        .header .navbar .main-menu .menu-item a:hover {
          text-decoration: none;
          color: #ea6400; }
      .header .navbar .main-menu .menu-item:hover .sub-menu {
        opacity: 1;
        pointer-events: auto; }
      .header .navbar .main-menu .menu-item.current-page-ancestor a, .header .navbar .main-menu .menu-item.current-menu-ancestor a, .header .navbar .main-menu .menu-item.current-post-ancestor a, .header .navbar .main-menu .menu-item.current-menu-parent a, .header .navbar .main-menu .menu-item.current-menu-item a, .header .navbar .main-menu .menu-item.current-page-parent a, .header .navbar .main-menu .menu-item.current-post-parent a {
        text-decoration: none;
        color: #ea6400; }
        .header .navbar .main-menu .menu-item.current-page-ancestor.home-item > a:before, .header .navbar .main-menu .menu-item.current-menu-ancestor.home-item > a:before, .header .navbar .main-menu .menu-item.current-post-ancestor.home-item > a:before, .header .navbar .main-menu .menu-item.current-menu-parent.home-item > a:before, .header .navbar .main-menu .menu-item.current-menu-item.home-item > a:before, .header .navbar .main-menu .menu-item.current-page-parent.home-item > a:before, .header .navbar .main-menu .menu-item.current-post-parent.home-item > a:before {
          background: url(../svg/icon-home.svg) no-repeat center center / cover; }
      .header .navbar .main-menu .menu-item .sub-menu {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 30px;
        left: 40px;
        background: #edf0f3;
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        transition: 0.2s all ease-in-out; }
        .header .navbar .main-menu .menu-item .sub-menu .menu-item {
          display: block;
          padding: 0; }
          .header .navbar .main-menu .menu-item .sub-menu .menu-item:before {
            display: none; }
          .header .navbar .main-menu .menu-item .sub-menu .menu-item a {
            padding: 10px 20px;
            color: #5b6770;
            border-bottom: 1px solid #e1e4e6;
            display: block;
            min-width: 190px; }
            .header .navbar .main-menu .menu-item .sub-menu .menu-item a:hover {
              color: #ea6400;
              text-decoration: none; }
  .header .mainnav {
    height: 100px;
    min-height: 100px;
    background: #fff;
    padding: 25px 0 0;
    position: relative;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 300; }
  @media only screen and (max-width: 64em) {
    .header .mainnav {
      height: auto;
      padding-bottom: 20px; } }
  .header .mainnav .extrabuttons {
    display: none; }
    .header .mainnav .extrabuttons .show-for-medium {
      display: block !important; }
    .header .mainnav .extrabuttons .flag {
      margin-right: 0; }
  .header .mainnav .logo {
    position: relative;
    display: block; }
    .header .mainnav .logo.abslut {
      position: absolute; }
    .header .mainnav .logo .bol {
      position: absolute;
      top: 0px;
      left: -130px;
      opacity: 1;
      transition: 0.3s all ease-in-out; }
      @media only screen and (max-width: 70em) {
    .header .mainnav .logo .bol {
      display: none; } }
      .header .mainnav .logo .bol.scrolled {
        top: -200px; }
  .header .mainnav .readmore {
    font-size: 15px;
    float: right;
    margin-right: 20px; }
  .header .mainnav .flag {
    float: right;
    line-height: 38px;
    width: 40px;
    text-align: center;
    border: 2px solid #e3e6e9;
    border-radius: 4px;
    margin-right: 20px; }
    .header .mainnav .flag:hover {
      border-color: #ea6400; }
  .header .mainnav .searchbtn, .header .mainnav .menubtn {
    float: right;
    line-height: 38px;
    width: 40px;
    text-align: center;
    border: 2px solid #e3e6e9;
    border-radius: 4px;
    margin-right: 20px; }
    @media only screen and (max-width: 40em) {
    .header .mainnav .searchbtn, .header .mainnav .menubtn {
      margin-left: 10px;
      margin-right: 0px; } }
    .header .mainnav .searchbtn:hover, .header .mainnav .menubtn:hover, .header .mainnav .searchbtn:focus, .header .mainnav .menubtn:focus {
      color: #ea6400; }
  .header .mainnav .prettydropdown {
    float: right;
    border: 1px solid #e3e6e9;
    border-radius: 4px; }
    .header .mainnav .prettydropdown select {
      margin: 0;
      height: 40px;
      border-color: #e3e6e9; }
  .header .search {
    background: #5b6770;
    height: 100px;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 200;
    bottom: 10px;
    transition: 0.3s all ease-in-out;
    /*
	** Search
	*/ }
  .header .search.active {
    bottom: -100px; }
  .header .search-form {
    display: block;
    margin: 20px 0 0;
    padding: 0;
    position: relative; }
  .header .search-form .search-input-container {
    margin: 0;
    padding: 0;
    width: 100%; }
    .header .search-form .search-input-container .search-input {
      margin: 0;
      padding: 0 20px;
      width: 100%;
      height: 60px;
      background-color: #707e8a;
      border: 0;
      border-radius: 30px;
      line-height: 60px;
      color: #fff;
      font-size: 18px;
      -webkit-box-shadow: inset 0px 2px 0px 0px #4e5860;
      -moz-box-shadow: inset 0px 2px 0px 0px #4e5860;
      box-shadow: inset 0px 2px 0px 0px #4e5860; }
  .header .search-form .search-submit {
    margin: 0;
    padding: 0;
    background: #00aeef;
    position: absolute;
    right: 10px;
    top: 11px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    border-bottom: 2px solid #009dd6; }
    .header .search-form .search-submit:hover {
      background: #0bf;
      text-decoration: none; }
    .header .search-form .search-submit:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f002";
      font-size: 1em;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    .header .search-form .search-submit span {
      display: none; }

.featured {
  padding-top: 100px;
  position: relative;
  /*
** Usps
*/ }
  @media only screen and (min-width: 40em) and (max-width: 63em) {
  .featured {
    padding-top: 135px; } }
  .featured .slider .slide {
    height: 560px;
    padding-top: 100px; }
    @media only screen and (max-width: 40em) {
    .featured .slider .slide {
      padding-top: 70px;
      background-position: 72% 0% !important; } }
    .featured .slider .slide h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
      @media only screen and (max-width: 40em) {
    .featured .slider .slide h2 {
      display: none; } }
    .featured .slider .slide p {
      margin: 0 0 30px;
      font-size: 30px;
      font-family: 'ff-karbid-text-web-pro';
      font-weight: 300;
      font-style: italic;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      color: #fff; }
      @media only screen and (max-width: 40em) {
    .featured .slider .slide p {
      display: none; } }
    .featured .slider .slide .readmore {
      font-family: 'ff-karbid-text-web-pro';
      font-weight: 700; }
      @media only screen and (max-width: 40em) {
    .featured .slider .slide .readmore {
      margin-top: 270px; } }
  .featured .overlay {
    width: 100%;
    height: 280px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: url(../img/curve-header.png) no-repeat center top;
    pointer-events: none; }

.usps {
  padding: 10px 0;
  /*
** Media
*/ }
  .usps .widget {
    margin-bottom: 30px; }
  .usps .widget h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
    padding: 0; }
  .usps .widget p {
    font-size: 21px;
    font-style: italic;
    font-weight: 300;
    font-family: 'ff-karbid-text-web-pro';
    margin: 0;
    color: #2b2c2f; }
  .usps .usp {
    position: relative;
    min-height: 90px;
    margin-bottom: 30px; }
  .usps .usp .icon {
    width: 100px;
    position: absolute;
    left: 0.9375rem;
    top: 0px; }
    @media only screen and (min-width: 40em) and (max-width: 64em) {
    .usps .usp .icon {
      position: static;
      display: block;
      margin: 0 auto; } }
  .usps .usp .text {
    padding-left: 110px;
    padding-right: 0px; }
    @media only screen and (min-width: 40em) and (max-width: 64em) {
    .usps .usp .text {
      padding-left: 0px;
      margin-top: 20px;
      display: block;
      text-align: center; } }
  .usps .usp .iconholder {
    display: block;
    border-radius: 50%;
    border: 2px solid #edf0f3;
    width: 90px;
    height: 90px;
    text-align: center; }
  .usps .usp:nth-child(2) .iconholder {
    padding: 20px 25px 0; }
  .usps .usp:nth-child(3) .iconholder {
    padding: 15px 25px 0; }
  .usps .usp:nth-child(4) .iconholder {
    padding: 22px 20px 0; }
  .usps .usp h3 {
    font-size: 16px;
    color: #97989a;
    font-style: italic;
    margin: 10px 0 5px; }
  .usps .usp p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'ff-karbid-text-web-pro';
    margin: 0;
    color: #2b2c2f; }

.media {
  background: url(../img/media-bg.jpg) no-repeat center top / cover;
  /*
** Features
*/ }
  .media .video-holder {
    background: none; }
  .media .video-overlay, .media .video-container {
    padding-bottom: 25.5%; }
  @media only screen and (max-width: 64em) {
    .media .video-overlay, .media .video-container {
      padding-bottom: 56.25%; } }
  .media .video-overlay {
    position: relative; }
  .media .video-overlay:after {
    background: url(../img/ypb.png) no-repeat center center; }
  .media .video-overlay h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: calc(50% + 80px);
    width: 100%;
    text-align: center; }
    @media only screen and (max-width: 40em) {
    .media .video-overlay h3 {
      display: none; } }
  .media iframe {
    border: none; }

.home-features {
  background: url(../img/curve-grey-lt.png) no-repeat center top;
  padding: 40px 0 0;
  /*
** Demo widget area
*/ }
  .home-features.more {
    background: #fff;
    padding: 40px 0; }
  .home-features.more .singular-content {
    background: #fff url(../img/dots-top.png) repeat-x left top;
    padding: 40px 0; }
  .home-features h1 {
    margin: 100px 0 50px; }
  .home-features .singular-content {
    padding-right: 20px;
    padding-bottom: 20px; }
  .home-features .singular-content p:first-child em {
    padding: 8px 0;
    display: block;
    font-family: 'ff-karbid-text-web-pro'; }
  .home-features .singular-content .top:after {
    content: "";
    display: table;
    clear: both; }
    .home-features .singular-content .top em {
      float: left;
      padding: 8px 0;
      display: block;
      font-family: 'ff-karbid-text-web-pro'; }
  .home-features .feature-list {
    margin: 10px 0; }
  .home-features .feature-list .feature a {
    display: inline-block;
    border: 2px solid #e3e6e9;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #fff;
    width: 100%; }
    .home-features .feature-list .feature a:after {
      content: "";
      display: table;
      clear: both; }
    .home-features .feature-list .feature a:hover .text h3 {
      color: #ea6400; }
    .home-features .feature-list .feature a .image {
      width: 40px;
      height: 40px;
      vertical-align: middle;
      display: inline-block; }
      .home-features .feature-list .feature a .image img {
        height: 100%;
        width: auto; }
    .home-features .feature-list .feature a .text {
      width: calc(100% - 50px);
      display: inline-block;
      text-align: left;
      padding: 0 0 0 20px;
      vertical-align: middle; }
      .home-features .feature-list .feature a .text h3 {
        color: #2b2c2f;
        font-weight: 700;
        font-size: 16px; }
  @media only screen and (max-width: 64em) {
    .home-features .growgrey {
      background: #edf0f3; } }

.demo {
  padding: 80px 0 60px;
  /*
** Random reference + packages
*/ }
  .demo img.right {
    margin: 0 0 10px 10px; }
  .demo p {
    margin-bottom: 30px; }
  .demo .subline h2 {
    color: #2b2c2f; }
  .demo .subline p {
    font-size: 21px;
    font-family: 'ff-karbid-text-web-pro';
    font-weight: 300;
    color: #2b2c2f;
    margin-top: 5px; }
  .demo .subline a {
    background: #00aeef;
    border-radius: 40px;
    font-family: 'ff-karbid-text-web-pro';
    color: #fff;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 2px solid #009dd6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 18px 70px 15px 25px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out; }
    .demo .subline a:after {
      position: absolute;
      right: 10px;
      top: 10px;
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #009dd6 url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
      display: inline-block; }
    .demo .subline a:hover {
      background: #0bf;
      text-decoration: none; }
  .demo .widget a {
    color: #ea6400; }
    .demo .widget a:hover {
      color: #2b2c2f; }
    .demo .widget a.button {
      color: #fff; }
    .demo .widget a.button:hover {
      color: #fff; }

.packref {
  background: url(../img/grey-split.jpg) repeat-y center top;
  position: relative; }
  .packref .this > .columns {
    padding-top: 40px;
    padding-bottom: 40px; }
  .packref .this > .columns.extra {
    padding-bottom: 90px;
    overflow: hidden; }
    @media only screen and (max-width: 40em) {
    .packref .this > .columns.extra:first-child {
      padding-bottom: 40px; } }
  @media only screen and (max-width: 64em) {
    .packref .this > .columns {
      background: #e6e9eb; } }
  @media only screen and (max-width: 64em) {
      .packref .this > .columns:first-child {
        background: #edf0f3; } }
  .packref .reference {
    margin: 40px 0; }
  .packref .reference .inner:after {
    clear: both;
    display: table;
    content: ""; }
  .packref .reference .speech {
    position: relative;
    width: 100%;
    padding: 25px;
    text-align: left;
    color: #2b2c2f;
    font-style: italic;
    line-height: 28px;
    background-color: #edf0f3;
    border: 2px solid #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    /*
** http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
*/ }
    .packref .reference .speech:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -30px;
      top: 20px;
      border: 15px solid;
      border-color: #fff #fff transparent transparent; }
    .packref .reference .speech:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -25px;
      top: 22px;
      border: 14px solid;
      border-color: #edf0f3 #edf0f3 transparent transparent; }
  .packref .reference .image {
    width: 100px;
    float: left; }
  .packref .reference .text {
    width: calc(100% - 110px);
    float: left;
    padding: 0 40px 0 20px; }
    @media only screen and (max-width: 40em) {
    .packref .reference .text {
      padding: 0 10px 0 20px; } }
  .packref .package-list {
    margin: 30px 0; }
  .packref .package-list .package a {
    border: 2px solid #d5d8db;
    padding: 20px 27px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    display: block;
    transition: 0.3s all ease-in-out; }
    .packref .package-list .package a:hover {
      border-color: #ea6400; }
    .packref .package-list .package a .inner {
      width: 100%;
      padding-bottom: 20%;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
  .packref .curve-top {
    position: absolute;
    top: -40px;
    height: 40px;
    left: 0px;
    width: 50%;
    background: transparent url(../img/top-curve.png) no-repeat right top; }

.references {
  padding-bottom: 50px; }

.reference-list {
  /*
** Slick
*/ }
  .reference-list .reference {
    margin: 0 0 40px 0; }
  .reference-list .reference .inner {
    border: 2px solid #edf0f3;
    border-radius: 10px;
    padding: 30px; }
    .reference-list .reference .inner:after {
      clear: both;
      display: table;
      content: ""; }
  .reference-list .reference .speech {
    position: relative;
    width: 100%;
    padding: 25px;
    text-align: left;
    color: #2b2c2f;
    font-style: italic;
    line-height: 28px;
    background-color: #edf0f3;
    border: 2px solid #edf0f3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    /*
** http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
*/ }
    .reference-list .reference .speech:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -30px;
      top: 20px;
      border: 15px solid;
      border-color: #edf0f3 #edf0f3 transparent transparent; }
    .reference-list .reference .speech:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -25px;
      top: 22px;
      border: 14px solid;
      border-color: #edf0f3 #edf0f3 transparent transparent; }
  .reference-list .reference .image {
    width: 100px;
    float: left; }
  .reference-list .reference .text {
    width: calc(100% - 110px);
    float: left;
    padding: 0 40px 0 20px; }
    @media only screen and (max-width: 40em) {
    .reference-list .reference .text {
      padding: 0 10px 0 20px; } }

.slick .slick-arrow {
  background: #fff;
  color: #ea6400;
  font-size: 24px;
  position: absolute;
  top: 49%;
  z-index: 9; }
  .slick .slick-arrow.slick-next {
    padding: 45px 15px 45px 20px;
    border-radius:  0 0 ;
    right: 0; }
  .slick .slick-arrow.slick-prev {
    padding: 45px 20px 45px 15px;
    border-radius: 0   0;
    left: 0; }
  .slick .slick-dots {
    position: absolute;
    bottom: 140px;
    left: calc(50% - 36em);
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin-left: 0 !important; }
  @media only screen and (max-width: 70em) {
    .slick .slick-dots {
      left: 10px;
      bottom: 140px; } }
  @media only screen and (max-width: 40em) {
    .slick .slick-dots {
      display: none !important; } }
  .slick .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 10px;
      width: 10px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
      background: #fff;
      -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2);
      -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2);
      box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .2), inset -2px -2px 2px rgba(0, 0, 0, .2); }
    .slick .slick-dots li button:hover, .slick .slick-dots li button:focus {
      outline: none; }
      .slick .slick-dots li button:hover:before, .slick .slick-dots li button:focus:before {
        opacity: 1; }
    .slick .slick-dots li.slick-active button {
      background: #e63312;
      box-shadow: none;
      border: 2px solid #fff; }

#singleimage {
  min-height: 340px;
  height: 340px; }
  @media only screen and (max-width: 40em) {
  #singleimage {
    height: auto;
    background-position: 80% 0% !important;
    background-size: auto !important; } }
  @media only screen and (min-width: 40em) and (max-width: 64em) {
  #singleimage {
    background-position: 70% 0% !important;
    background-size: auto !important; } }
  #singleimage .header-text {
    width: 80%;
    padding: 50px 0 20px; }
  @media only screen and (min-width: 40em) and (max-width: 64em) {
    #singleimage .header-text {
      width: 70%; } }
  @media only screen and (max-width: 40em) {
    #singleimage .header-text {
      width: 100%;
      min-height: 250px; } }
  #singleimage .header-text h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    -ms-word-break: break-all;
    /* Non standard for webkit */
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  #singleimage .header-text h3 {
    margin: 5px 0 30px;
    font-size: 30px;
    font-family: 'ff-karbid-text-web-pro';
    font-weight: 300;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    color: #fff; }
  #singleimage .submenu {
    position: absolute;
    z-index: 9;
    bottom: 65px;
    left: 0;
    width: 100%; }
  @media only screen and (max-width: 40em) {
    #singleimage .submenu {
      position: relative;
      bottom: auto;
      left: auto;
      z-index: 9;
      overflow: hidden;
      padding-bottom: 3px; } }
  #singleimage .submenu .large-12 {
    padding: 0; }
  #singleimage .submenu .subnav {
    background: #ea6400;
    border-radius: 45px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 40em) {
    #singleimage .submenu .subnav {
      border-radius: 0;
      padding: 5px 0;
      display: block;
      width: 100%;
      background: #edf0f3; } }
    #singleimage .submenu .subnav .sub-item {
      display: inline-block;
      padding-right: 10px;
      position: relative; }
    @media only screen and (max-width: 40em) {
      #singleimage .submenu .subnav .sub-item {
        display: block;
        text-align: center;
        background: url(../img/dots-top.png) repeat-x center bottom; }
        #singleimage .submenu .subnav .sub-item:last-child {
          border-bottom: none;
          background: none; } }
    #singleimage .submenu .subnav .sub-item:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f111';
      color: #b34f04;
      display: block;
      font-size: 6px;
      position: absolute;
      right: 3px;
      top: 19px; }
      @media only screen and (max-width: 40em) {
      #singleimage .submenu .subnav .sub-item:after {
        display: none; } }
    #singleimage .submenu .subnav .sub-item:last-child {
      padding-right: 0; }
      #singleimage .submenu .subnav .sub-item:last-child:after {
        display: none; }
    #singleimage .submenu .subnav .sub-item a {
      padding: 10px 20px;
      display: block;
      color: #f1f1f1;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      font-family: 'ff-karbid-text-web-pro';
      font-size: 16px; }
      @media only screen and (max-width: 40em) {
      #singleimage .submenu .subnav .sub-item a {
        color: #5b6770; } }
      #singleimage .submenu .subnav .sub-item a:hover {
        text-decoration: none;
        color: #fff; }
        @media only screen and (max-width: 40em) {
      #singleimage .submenu .subnav .sub-item a:hover {
        color: #ea6400; } }
      #singleimage .submenu .subnav .sub-item a.active {
        font-weight: 700;
        color: #fff; }
        @media only screen and (max-width: 40em) {
      #singleimage .submenu .subnav .sub-item a.active {
        color: #ea6400; } }

.main-container.dots {
  background: url(../img/dots-light.png) no-repeat center 75px; }

.singular-content.padleft {
  padding-right: 0;
  padding-left: 20px; }
  @media only screen and (max-width: 64em) {
    .singular-content.padleft {
      padding-left: 0px;
      padding-bottom: 40px; } }
  .singular-content h1 {
    font-size: 24px;
    margin-bottom: 30px; }
  .singular-content h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 16px; }
  .singular-content em {
    color: #2b2c2f; }
  .singular-content p {
    line-height: 28px; }
  .singular-content a {
    color: #ea6400;
    text-decoration: none; }
  .singular-content a:hover {
    color: #2b2c2f;
    text-decoration: none; }
  .singular-content a.readmore:hover {
    color: #fff; }
  .singular-content ul {
    list-style: none;
    padding: 0;
    margin-left: 0; }
  .singular-content ul li {
    padding: 0 0 5px 30px;
    position: relative; }
    .singular-content ul li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f058';
      font-size: 16px;
      position: absolute;
      top: 5px;
      left: 0px; }
  .singular-content .gforms_confirmation_message {
    padding: 40px;
    background: #4d7e1d;
    border-radius: 10px;
    border: 2px solid #345513;
    color: #fff;
    margin-bottom: 80px; }
  .singular-content .gform_wrapper {
    background: #edf0f3;
    border-radius: 10px;
    border: 2px solid #ced7df;
    padding: 40px 40px 0 40px;
    position: relative;
    margin-bottom: 80px; }
  @media only screen and (max-width: 40em) {
    .singular-content .gform_wrapper {
      border-radius: 0;
      margin-left: -0.625rem;
      margin-right: -0.625rem;
      border-left: none;
      border-right: none;
      margin-bottom: 0px; } }
  @media only screen and (min-width: 40em) and (max-width: 63em) {
    .singular-content .gform_wrapper {
      border-radius: 0;
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;
      border-left: none;
      border-right: none;
      margin-bottom: 0px; } }
  .singular-content .gform_wrapper li {
    padding: 0 0 5px;
    position: relative; }
    .singular-content .gform_wrapper li:before {
      display: none; }
    .singular-content .gform_wrapper li:after {
      display: table;
      content: "";
      clear: both; }
    .singular-content .gform_wrapper li label {
      width: 30%;
      font-weight: 700;
      font-family: 'ff-karbid-text-web-pro';
      color: #2b2c2f;
      float: left;
      font-size: 16px; }
    @media only screen and (max-width: 40em) {
      .singular-content .gform_wrapper li label {
        width: 100%; } }
    .singular-content .gform_wrapper li label span {
      color: #ea6400;
      padding-left: 5px; }
    .singular-content .gform_wrapper li .ginput_container {
      width: 66%;
      float: left; }
    @media only screen and (max-width: 40em) {
      .singular-content .gform_wrapper li .ginput_container {
        width: 100%; } }
    .singular-content .gform_wrapper li .ginput_container.ginput_container_checkbox {
      width: 100%; }
      .singular-content .gform_wrapper li .ginput_container.ginput_container_checkbox li {
        width: 50%;
        display: inline-block;
        position: relative; }
        @media only screen and (max-width: 40em) {
      .singular-content .gform_wrapper li .ginput_container.ginput_container_checkbox li {
        width: 100%; } }
        .singular-content .gform_wrapper li .ginput_container.ginput_container_checkbox li label {
          margin: 0; }
    .singular-content .gform_wrapper li .ginput_container input[type="text"], .singular-content .gform_wrapper li .ginput_container input[type="tel"], .singular-content .gform_wrapper li .ginput_container input[type="email"] {
      -webkit-box-shadow: inset 0px 2px 0px 0px #ccc;
      -moz-box-shadow: inset 0px 2px 0px 0px #ccc;
      box-shadow: inset 0px 2px 0px 0px #ccc;
      background: #fff;
      border: none;
      margin-bottom: 0; }
    .singular-content .gform_wrapper li .ginput_container textarea {
      width: 100%;
      -webkit-box-shadow: inset 0px 2px 0px 0px #ccc;
      -moz-box-shadow: inset 0px 2px 0px 0px #ccc;
      box-shadow: inset 0px 2px 0px 0px #ccc;
      background: #fff;
      border: none;
      margin-bottom: 0;
      height: 150px; }
    .singular-content .gform_wrapper li .validation_message {
      display: block;
      margin-left: 25%;
      float: left;
      color: #e63312; }
    @media only screen and (max-width: 40em) {
      .singular-content .gform_wrapper li .validation_message {
        margin-left: 0; } }
    .singular-content .gform_wrapper li .gf-icon {
      position: absolute;
      right: 0;
      top: 0; }
  .singular-content .gform_wrapper .required_message {
    position: relative;
    top: -100px; }
    @media only screen and (max-width: 40em) {
    .singular-content .gform_wrapper .required_message {
      top: 0px; } }
  .singular-content .gform_wrapper .validation_error {
    background: #e63312;
    border-radius: 20px; }
  .singular-content .gform_wrapper .gform_button {
    background: #00aeef;
    border-radius: 40px;
    font-family: 'ff-karbid-text-web-pro';
    padding: 18px 70px 15px 25px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    line-height: 26px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    border-bottom: 2px solid #009dd6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease-in-out;
    margin-left: 30%; }
    @media only screen and (max-width: 40em) {
    .singular-content .gform_wrapper .gform_button {
      margin-left: 0; } }
    .singular-content .gform_wrapper .gform_button:hover {
      background: #0bf;
      text-decoration: none; }
    .singular-content .gform_wrapper .gform_button:after {
      position: absolute;
      right: 10px;
      top: 10px;
      content: "";
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background: #009dd6 url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
      display: inline-block; }

.crumbs {
  padding-top: 20px;
  font-size: 14px;
  /*
** main
*/ }
  @media only screen and (max-width: 40em) {
  .crumbs {
    padding-bottom: 20px; } }
  .crumbs .sep {
    padding: 0 10px; }
  .crumbs a {
    color: #5b6770; }
  .crumbs a:hover {
    color: #ea6400;
    text-decoration: none; }

.main {
  margin-bottom: 0px; }
  .main .singular-header {
    margin-bottom: 30px; }
  .main .singular-footer {
    margin: 50px 0 80px; }
  @media only screen and (max-width: 40em) {
    .main .singular-footer {
      margin-bottom: 0px; } }
  .main .singular-content {
    padding-bottom: 30px; }
  .main .singular-content.post {
    padding-bottom: 0; }
  .main .singular-meta {
    float: left;
    display: block;
    padding: 20px 30px;
    color: #ea6400;
    font-family: 'ff-karbid-text-web-pro';
    border: 2px solid #edf0f3;
    border-radius: 5px;
    margin: 5px 20px 10px 0; }
  .main .singular-meta span {
    display: block;
    line-height: 26px;
    width: 100%;
    text-align: center; }
    .main .singular-meta span.day {
      font-size: 24px;
      font-weight: 700; }
    .main .singular-meta span.month {
      font-size: 18px;
      font-weight: 700;
      text-transform: lowercase; }
    .main .singular-meta span.year {
      font-size: 14px;
      font-weight: 400;
      color: #2b2c2f; }
  .main .singular-content h2 {
    margin: 20px 0 10px;
    font-size: 20px; }
  .main .singular-content h3 {
    font-weight: 700;
    font-size: 16px;
    font-weight: 300; }
  .main .singular-content p {
    margin-bottom: 30px; }

.single-post .singular-widgets .widget {
  margin-bottom: 50px; }

.singular-widgets {
  /*
** sidebar
*/ }
  .singular-widgets .widget {
    background: #edf0f3;
    border-radius: 15px;
    padding: 40px;
    margin: 10px 0 110px; }
  @media only screen and (max-width: 63em) {
    .singular-widgets .widget {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 20px; } }
  .singular-widgets .widget:after {
    clear: both;
    display: table;
    content: ""; }
  .singular-widgets .widget .image {
    width: 200px;
    float: left; }
    @media only screen and (max-width: 64em) {
    .singular-widgets .widget .image {
      width: 100%;
      text-align: center; } }
  .singular-widgets .widget .text {
    float: left;
    width: calc(100% - 200px);
    padding: 0 0 0 30px; }
    @media only screen and (max-width: 64em) {
    .singular-widgets .widget .text {
      width: 100%; } }
    @media only screen and (max-width: 40em) {
    .singular-widgets .widget .text {
      padding: 0; } }
    .singular-widgets .widget .text.full {
      width: 100%; }
  .singular-widgets .widget h2 {
    font-size: 24px;
    color: #2b2c2f; }
  .singular-widgets .widget p {
    color: #5b6770;
    margin: 20px 0; }
  .singular-widgets .widget .readmore {
    margin: 20px 0 0; }

.sidebar {
  padding-top: 90px;
  /*
** cta
*/ }
  @media only screen and (max-width: 64em) {
  .sidebar {
    margin-bottom: 50px;
    padding-top: 40px; } }
  .sidebar:after {
    content: "";
    display: table;
    clear: both; }
  .sidebar.normal {
    padding-top: 53px; }
  .sidebar .widget {
    background: #edf0f3;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative; }
  .sidebar .widget.gradient {
    background: #ef7b00;
    background: -moz-linear-gradient(left, #ef7b00 0%, #e63212 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ef7b00), color-stop(100%, #e63212));
    background: -webkit-linear-gradient(left, #ef7b00 0%, #e63212 100%);
    background: -o-linear-gradient(left, #ef7b00 0%, #e63212 100%);
    background: -ms-linear-gradient(left, #ef7b00 0%, #e63212 100%);
    background: linear-gradient(to right, #ef7b00 0%, #e63212 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7b00', endColorstr='#e63212', GradientType=1);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
    .sidebar .widget.gradient h3 {
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 30px; }
  .sidebar .widget.transparant {
    background: none;
    padding: 0 0 10px; }
    .sidebar .widget.transparant .readmore {
      margin-top: 0px; }
    .sidebar .widget.transparant.bordered {
      border: 2px solid #edf0f3;
      padding: 30px; }
  .sidebar .widget h3.italic {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 20px;
    color: #2b2c2f; }
  .sidebar .widget .phone-info {
    margin-bottom: 30px; }
    .sidebar .widget .phone-info span.lbl {
      font-family: 'ff-karbid-text-web-pro';
      color: #2b2c2f;
      font-style: italic;
      font-size: 16px;
      width: 100px;
      display: inline-block; }
    .sidebar .widget .phone-info .phone-container {
      display: inline-block; }
    .sidebar .widget .phone-info .phone-container .phone {
      font-weight: 700;
      color: #2b2c2f; }
      .sidebar .widget .phone-info .phone-container .phone:visited {
        color: #2b2c2f; }
      .sidebar .widget .phone-info .phone-container .phone:before {
        color: #ea6400; }
  .sidebar .widget .contact {
    padding-bottom: 20px; }
    .sidebar .widget .contact .email, .sidebar .widget .contact .address, .sidebar .widget .contact .phone {
      position: relative;
      padding: 0 0 0 30px;
      margin-bottom: 20px;
      font-weight: 700;
      font-family: 'ff-karbid-text-web-pro';
      color: #2b2c2f;
      display: block; }
    .sidebar .widget .contact .email a, .sidebar .widget .contact .address a, .sidebar .widget .contact .phone a {
      color: #2b2c2f; }
      .sidebar .widget .contact .email a:hover, .sidebar .widget .contact .address a:hover, .sidebar .widget .contact .phone a:hover {
        color: #ea6400; }
    .sidebar .widget .contact .email:before, .sidebar .widget .contact .address:before, .sidebar .widget .contact .phone:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f199';
      font-size: 18px;
      position: absolute;
      top: 3px;
      left: 0px;
      color: #ea6400; }
    .sidebar .widget .contact .address {
      margin-bottom: 0px; }
    .sidebar .widget .contact .address:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f041'; }
    .sidebar .widget .contact .phone:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f098'; }
  .sidebar .widget table {
    margin-top: 20px;
    margin-bottom: 0px;
    border: none; }
    .sidebar .widget table tbody {
      border: none; }
    .sidebar .widget table tr {
      background: none; }
    .sidebar .widget table td {
      background: none;
      padding: 0 10px 2px 0; }
  .sidebar .widget ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
    text-align: left; }
    .sidebar .widget ul li {
      padding: 0 0 5px 30px;
      position: relative; }
    .sidebar .widget ul li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f058';
      font-size: 16px;
      position: absolute;
      top: 5px;
      left: 0px; }
  .sidebar .widget .ofbel {
    color: #fff;
    font-style: italic;
    padding: 0;
    font-family: 'ff-karbid-text-web-pro'; }
    @media only screen and (max-width: 40em) {
    .sidebar .widget .ofbel {
      width: 100%;
      text-align: center; } }
    .sidebar .widget .ofbel .phone-container {
      display: inline-block;
      margin-left: 15px; }
    .sidebar .widget .ofbel .phone-container .phone {
      font-family: 'ff-karbid-text-web-pro';
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      color: #fff; }
      .sidebar .widget .ofbel .phone-container .phone:before {
        top: -1px; }
      .sidebar .widget .ofbel .phone-container .phone:visited {
        color: #fff; }
  .sidebar .widget .readmore {
    margin: 20px auto 0; }
  .sidebar .widget .gfield_error input[type="text"] {
    border: 1px solid #e63312; }
  .sidebar .widget .gform_confirmation_message {
    background: #4d7e1d;
    font-size: 14px;
    border: none !important;
    border-radius: 15px;
    padding: 5px 15px;
    color: #fff; }
  .sidebar .widget .validation_error {
    background: #e63312;
    position: absolute;
    top: -80px;
    font-size: 14px;
    border: none !important;
    border-radius: 15px;
    padding: 5px 15px;
    color: #fff; }
  .sidebar .widget .gform_heading {
    margin: 0; }
  .sidebar .widget .gform_wrapper {
    position: relative;
    margin: 0; }
    .sidebar .widget .gform_wrapper ul li {
      padding: 0;
      margin-bottom: 9px; }
      .sidebar .widget .gform_wrapper ul li:before {
        display: none; }
    .sidebar .widget .gform_wrapper input[type="text"] {
      background: #fff;
      border: 1px solid #fff;
      padding: 21px 20px;
      border-radius: 30px;
      font-size: 16px;
      line-height: 16px;
      height: auto;
      width: 100%;
      margin-bottom: 0; }
    .sidebar .widget .gform_wrapper .validation_message {
      float: left;
      display: none; }
    .sidebar .widget .gform_wrapper .gform_footer {
      position: relative;
      top: -69px;
      right: 0px;
      margin-bottom: -69px;
      margin: 0;
      padding: 0; }
    .sidebar .widget .gform_wrapper .gform_button {
      background: #009dd6;
      width: 40px;
      height: 40px;
      background: #009dd6 url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
      border-radius: 50%;
      position: absolute;
      top: 9px;
      right: 10px;
      text-indent: -99999px; }
    .sidebar .widget .gform_wrapper .gform_button:hover {
      background-color: #00aeef; }
  .sidebar .socialbuttons a {
    float: right; }

.cta {
  background: #ef7b00;
  background: -moz-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ef7b00), color-stop(100%, #e63212));
  background: -webkit-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -o-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -ms-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: linear-gradient(to right, #ef7b00 0%, #e63212 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7b00', endColorstr='#e63212', GradientType=1);
  position: relative;
  margin-bottom: 80px; }
  .cta .container {
    background: url(../img/dots.png) no-repeat right 270px;
    padding: 100px 0; }
  @media only screen and (max-width: 40em) {
    .cta .container {
      padding: 140px 0 100px; } }
  .cta .container.nobg {
    background: none; }
  .cta .row {
    position: relative; }
  .cta .dagen {
    position: absolute;
    top: -150px;
    left: 50px; }
  @media only screen and (max-width: 40em) {
    .cta .dagen {
      top: -200px; } }
  .cta .widget {
    text-align: center;
    color: #fff; }
  .cta .widget h2 {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 26px;
    margin: 0 0 30px; }
  .cta .widget p {
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    line-height: 28px;
    margin: 0 0 30px;
    font-size: 17px;
    font-family: 'ff-karbid-text-web-pro';
    font-weight: 300; }
  .cta .inner {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 41px; }
  @media only screen and (max-width: 40em) {
    .cta .inner {
      background: none; } }
  .cta .inner .readmore {
    margin: 0;
    padding: 18px 80px 15px 35px; }
    @media only screen and (max-width: 40em) {
    .cta .inner .readmore {
      width: 100%; } }
  .cta .inner .call {
    float: right;
    color: #fff;
    font-style: italic;
    padding: 18px 25px 17px 0;
    font-family: 'ff-karbid-text-web-pro'; }
    @media only screen and (max-width: 40em) {
    .cta .inner .call {
      width: 100%;
      text-align: center; } }
    .cta .inner .call .phone-container {
      display: inline-block;
      margin-left: 15px; }
    .cta .inner .call .phone-container .phone {
      font-family: 'ff-karbid-text-web-pro';
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      color: #fff; }
      .cta .inner .call .phone-container .phone:before {
        top: -1px; }

.phone-container .phone {
  position: relative;
  padding-left: 25px;
  color: #fff; }
  .phone-container .phone:visited {
    color: #fff; }
  .phone-container .phone:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: '\f098';
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 0px; }

.socialbuttons {
  text-align: right;
  display: inline-block;
  /*
** footer
*/ }
  @media only screen and (max-width: 40em) {
  .socialbuttons {
    padding: 25px 0;
    text-align: center; } }
  .socialbuttons:after {
    display: table;
    content: "";
    clear: both; }
  .socialbuttons span {
    display: block;
    float: right;
    margin-right: 15px;
    font-family: 'ff-karbid-text-web-pro';
    line-height: 30px;
    color: #2b2c2f;
    padding: 15px 0;
    font-style: italic; }
  .socialbuttons a {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    background: #ea6400;
    color: #fff;
    font-size: 18px;
    transition: 0.3s all ease-in-out; }
  @media only screen and (max-width: 40em) {
    .socialbuttons a {
      float: none;
      display: inline-block; } }
  .socialbuttons a:hover {
    background: #ff6e00; }
  .socialbuttons a:last-child {
    margin-right: 0; }
  .socialbuttons a i {
    margin: 0; }

.footer-container .footer {
  position: relative;
  background: #ef7b00;
  background: -moz-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #ef7b00), color-stop(100%, #e63212));
  background: -webkit-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -o-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: -ms-linear-gradient(left, #ef7b00 0%, #e63212 100%);
  background: linear-gradient(to right, #ef7b00 0%, #e63212 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7b00', endColorstr='#e63212', GradientType=1); }
  .footer-container .footer.grey {
    background: url(../img/grey-split.jpg) repeat-y center top; }
    @media only screen and (max-width: 64em) {
    .footer-container .footer.grey {
      background: #e6e9eb; } }
  .footer-container .footer .tagline {
    position: absolute;
    top: -80px;
    left: 0.8rem;
    font-weight: 700;
    font-size: 26px;
    z-index: 4;
    color: #fff; }
    .footer-container .footer .tagline span {
      font-weight: 300;
      font-style: italic; }
  .footer-container .footer .dots {
    width: 100%;
    height: 400px;
    background: url(../img/dots.png) no-repeat right top;
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: 1; }
  .footer-container .footer .bol {
    position: absolute;
    top: -230px;
    left: -50px;
    z-index: 8; }
  .footer-container .footer .top {
    background: url(../img/footer-bg.png) no-repeat center top;
    padding: 170px 0 0;
    position: relative;
    z-index: 5; }
    .footer-container .footer .top h3 {
      font-size: 18px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 20px; }
    .footer-container .footer .top .service .row {
      position: relative; }
      @media only screen and (max-width: 40em) {
      .footer-container .footer .top .service .row {
        background: #2a2d2f; } }
    .footer-container .footer .top .service .margbot {
      margin-bottom: 40px; }
    .footer-container .footer .top .service .phone {
      color: #fff;
      font-family: 'ff-karbid-text-web-pro';
      margin-bottom: 15px;
      font-weight: 700;
      display: block; }
      .footer-container .footer .top .service .phone:before {
        color: #ea6400;
        top: 4px; }
    .footer-container .footer .top .service .email {
      position: relative;
      padding-left: 25px;
      color: #fff;
      font-family: 'ff-karbid-text-web-pro';
      margin-bottom: 15px;
      font-weight: 700;
      display: block; }
      @media only screen and (max-width: 40em) {
      .footer-container .footer .top .service .email {
        margin-bottom: 40px; } }
      .footer-container .footer .top .service .email:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: '\f199';
        font-size: 18px;
        position: absolute;
        top: 4px;
        left: 0px;
        color: #ea6400; }
      .footer-container .footer .top .service .email:hover {
        color: #ea6400; }
    .footer-container .footer .top .service .service-menu {
      margin: 0;
      padding: 0; }
      @media only screen and (max-width: 40em) {
      .footer-container .footer .top .service .service-menu {
        margin-bottom: 30px; } }
      .footer-container .footer .top .service .service-menu li {
        display: block;
        margin-bottom: 10px; }
        .footer-container .footer .top .service .service-menu li a {
          position: relative;
          padding-left: 25px;
          color: #fff; }
          .footer-container .footer .top .service .service-menu li a:before {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 3px;
            left: 0px;
            background: url(../svg/arrow-orange.svg) no-repeat left top / contain; }
          .footer-container .footer .top .service .service-menu li a:hover {
            color: #ea6400; }
    .footer-container .footer .top .service .widget {
      margin-bottom: 30px; }
      .footer-container .footer .top .service .widget a {
        border-radius: 40px;
        line-height: 26px;
        display: inline-block;
        border: 2px solid #3d4144;
        transition: 0.3s all ease-in-out;
        color: #ea6400;
        font-size: 15px;
        font-weight: 300;
        padding: 5px 39px 5px 15px;
        position: relative; }
        .footer-container .footer .top .service .widget a:after {
          position: absolute;
          right: 12px;
          top: 7px;
          content: "";
          width: 20px;
          height: 20px;
          background: transparent url(../svg/arrow-white.svg) no-repeat center center / 12px 12px;
          display: inline-block; }
        .footer-container .footer .top .service .widget a:hover {
          color: #fff;
          border-color: #ea6400; }
    .footer-container .footer .top .dotted-divider {
      border-top: 2px dotted #404447;
      padding: 50px 0 0;
      background: none; }
    .footer-container .footer .top .social {
      padding: 0 0 30px;
      background: #2a2d2f; }
    .footer-container .footer .top .social h2 {
      color: #fff;
      padding: 20px 0;
      font-size: 18px; }
  .footer-container .footer .newsletter {
    position: relative; }
    .footer-container .footer .newsletter iframe {
      display: none; }
    .footer-container .footer .newsletter input[type="text"] {
      background: #34383b;
      border: 1px solid #34383b;
      padding: 21px 20px;
      color: #fff;
      border-radius: 30px;
      font-size: 16px;
      line-height: 16px;
      height: auto;
      width: 100%;
      /*
** https://github.com/mastastealth/sass-flex-mixin
*/ }
    .footer-container .footer .newsletter input[type="text"] ::-webkit-input-placeholder {
      color: white; }
    .footer-container .footer .newsletter input[type="text"] :-moz-placeholder {
      color: white; }
    .footer-container .footer .newsletter input[type="text"] ::-moz-placeholder {
      color: white; }
    .footer-container .footer .newsletter input[type="text"] :-ms-input-placeholder {
      color: white; }
    .footer-container .footer .newsletter .gform_confirmation_message {
      background: #4d7e1d;
      font-size: 14px;
      border: none !important;
      border-radius: 15px;
      padding: 5px 15px;
      color: #fff; }
    .footer-container .footer .newsletter .validation_error {
      background: #4d7e1d;
      position: absolute;
      top: -80px;
      font-size: 14px;
      border: none !important;
      border-radius: 15px;
      padding: 5px 15px;
      color: #fff;
      display: none; }
    .footer-container .footer .newsletter .gform_heading {
      margin: 0; }
    .footer-container .footer .newsletter .gform_wrapper {
      position: relative;
      margin: 0; }
    .footer-container .footer .newsletter .gform_wrapper .validation_message {
      position: absolute;
      top: 60px;
      left: 20px; }
    .footer-container .footer .newsletter .gform_wrapper .gform_footer {
      position: relative;
      top: -69px;
      right: 0px;
      margin-bottom: -69px;
      margin: 0;
      padding: 0; }
    .footer-container .footer .newsletter .gform_wrapper .gform_button {
      background: #009dd6;
      width: 40px;
      height: 40px;
      background: #009dd6 url(../svg/arrow-white.svg) no-repeat center center / 20px 20px;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      right: 10px;
      text-indent: -99999px; }
      .footer-container .footer .newsletter .gform_wrapper .gform_button:hover {
        background-color: #00aeef; }
  .footer-container .footer .bottom {
    font-size: 14px;
    padding: 30px 0;
    background: #34383b;
    position: relative;
    z-index: 5; }
    .footer-container .footer .bottom .divider {
      padding: 0 10px; }
    .footer-container .footer .bottom a {
      color: #fff; }
    .footer-container .footer .bottom a:hover {
      color: #ea6400; }
    @media only screen and (max-width: 40em) {
      .footer-container .footer .bottom .site-generator {
        width: 100%;
        text-align: center; } }
    .footer-container .footer .bottom .footer-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right; }
    @media only screen and (max-width: 40em) {
      .footer-container .footer .bottom .footer-menu {
        width: 100%;
        text-align: center; } }
    .footer-container .footer .bottom .footer-menu li {
      display: inline-block; }
      .footer-container .footer .bottom .footer-menu li:after {
        content: "|";
        color: #787b7e;
        padding: 0 10px; }
      .footer-container .footer .bottom .footer-menu li:last-child:after {
        display: none; }

.facetsearch {
  padding: 0 0 80px; }
  @media only screen and (max-width: 40em) {
  .facetsearch {
    padding: 0 0 0px; } }
  .facetsearch .faceted-search-content .list-item {
    margin-bottom: 20px;
    border: 2px solid #edf0f3;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    transition: 0.3s all ease-in-out; }
    .facetsearch .faceted-search-content .list-item:hover {
      background: #edf0f3;
      border-color: #dcdfe0;
      text-decoration: none; }
    .facetsearch .faceted-search-content .list-item .entry {
      padding: 30px 30px 30px 100px;
      border-radius: 5px; }
    .facetsearch .faceted-search-content .list-item .entry .entry-meta {
      position: absolute;
      left: 30px;
      top: 30px;
      color: #ea6400;
      font-family: 'ff-karbid-text-web-pro'; }
      .facetsearch .faceted-search-content .list-item .entry .entry-meta span {
        display: block;
        line-height: 26px;
        width: 100%;
        text-align: center; }
        .facetsearch .faceted-search-content .list-item .entry .entry-meta span.day {
          font-size: 24px;
          font-weight: 700; }
        .facetsearch .faceted-search-content .list-item .entry .entry-meta span.month {
          font-size: 18px;
          font-weight: 700;
          text-transform: lowercase; }
        .facetsearch .faceted-search-content .list-item .entry .entry-meta span.year {
          font-size: 14px;
          font-weight: 400;
          color: #2b2c2f; }
    .facetsearch .faceted-search-content .list-item .entry .entry-content h2 {
      font-size: 16px;
      color: #ea6400;
      margin-bottom: 20px; }
      .facetsearch .faceted-search-content .list-item .entry .entry-content p {
        margin-bottom: 20px; }
      .facetsearch .faceted-search-content .list-item .entry .entry-content .more {
        color: #ea6400; }
        .facetsearch .faceted-search-content .list-item .entry .entry-content .more:after {
          content: "";
          width: 10px;
          height: 10px;
          background: url(../svg/arrow-black.svg) no-repeat center center / 10px 10px;
          margin-left: 10px;
          display: inline-block; }
    .facetsearch .faceted-search-content .list-item.blog-item .entry-content h2 {
      margin-bottom: 0; }
      .facetsearch .faceted-search-content .list-item.blog-item .entry-content .author {
        display: block;
        font-size: 13px;
        margin-bottom: 10px;
        color: #707e8a; }
  .facetsearch .faceted-search-footer {
    text-align: center; }
  .facetsearch .faceted-search-footer .showmore {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0 0;
    display: inline-block;
    color: #ea6400;
    text-decoration: none;
    background: none;
    box-shadow: none;
    margin: 40px 0 0; }
    .facetsearch .faceted-search-footer .showmore.button {
      border-radius: 5px;
      background: #ea6400;
      border-bottom: 3px solid #ea6400;
      color: #fff;
      text-transform: inherit;
      font-weight: bold;
      font-size: 16px;
      padding: 15px 20px 15px 25px; }
    .facetsearch .faceted-search-footer .showmore.button:hover {
      background: #ea6400;
      border-bottom: 3px solid #b74e00; }
    .facetsearch .faceted-search-footer .showmore:after {
      display: none; }
    .facetsearch .faceted-search-footer .showmore .label {
      display: inline-block;
      background: none;
      font-size: 16px;
      font-weight: 700;
      color: #fff; }
    .facetsearch .faceted-search-footer .showmore .arrow {
      display: inline;
      color: #fff;
      margin: 0 0 20px; }
    .facetsearch .faceted-search-footer .load-indicator {
      margin: 40px 0 0; }

#glmap {
  position: relative; }
  #glmap .infoblock {
    background: #fff;
    border-radius: 5px;
    padding: 40px;
    text-align: left;
    position: absolute;
    left: 18%;
    top: 50%;
    margin-top: -120px;
    width: 380px;
    z-index: 5;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); }
  #glmap .infoblock h3 {
    margin: 0; }
  #glmap .infoblock p {
    padding: 20px 0;
    text-align: left; }
  #glmap #map-canvas {
    width: 100%;
    height: 525px; }

.load-indicator {
  display: none; }
  .load-indicator .spinner {
    margin: 15px auto 0;
    width: 70px;
    text-align: center; }
  .load-indicator .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .load-indicator .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .load-indicator .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #ea6400;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.home .cta {
  margin-bottom: 0px; }

.single-blog .singular-header .author {
  font-size: 13px; }
