<?php if (have_posts()): ?>
<section class="display-list reference-list">
	<div class="row masonry">
	    <?php while (have_posts()): the_post(); ?>
	    <?php echo $this->partial('partials/reference/list-item.phtml') ?>
	    <?php endwhile; ?>
   </div>
</section>
<?php endif ?>
