<article class="reference large-6 columns" >
	<div class="inner">
		<div class="image"> 
			<?php if(has_post_thumbnail()): ?>
				<?php the_post_thumbnail(); ?>
			<?php endif; ?>
		</div>
		<div class="text">
			<p class="speech">
				<?php echo get_the_excerpt(); ?>
			</p>
			<p>
				<span><?php echo get_post_meta(get_the_ID(),'_customer_name',true) ?></span><br />
				<?php echo get_post_meta(get_the_ID(),'_customer_company',true) ?>
			</p>
		</div>
	</div>
</article>