.sharethis {
    position: relative;
}

/*
** Share mail
*/
.mail-share-container {
    margin-top: 20px;
    max-width: 240px; 
    background-color: #fff; 
    font-size: 12px;   
    position: absolute; 
    z-index: 400;
    visibility: hidden;
    opacity: 0;
    -webkit-box-shadow: 0px, 2px, 4px, #ccc;
       -moz-box-shadow: 0px, 2px, 4px, #ccc;
            box-shadow: 0px, 2px, 4px, #ccc;
    -webkit-transition: all 300ms ease-out;
       -moz-transition: all 300ms ease-out;
         -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;  
}

.mail-share-container.open { 
    margin-top: 0px;
    visibility: visible;
    opacity: 1; 
}
        
.mail-share-container .mail-share-content fieldset {
    margin: 0 0 5px;
    padding: 0;
    border: 0;
}

.mail-share-container .input { 
    width: 100%;
}
    
.mail-share-container .errors {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 
.mail-share-container .errors li {
    color: #ff0000;
}
