
<div class="large-4 medium-4 columns usp">
	<div class="icon">
		<span class="iconholder">
			<img src="<?php echo wp_get_attachment_image_src($this->attachment_id, 'usp-image-size')[0]; ?>">
		</span>
	</div>
	<div class="text">
		<h3><?php echo apply_filters('the_title', $this->title); ?></h3>
		<p><?php echo apply_filters('the_content', $this->content); ?></p>
	</div>
	<div class="clearfix"></div>
</div>