<?php if (isset($this->posts) && is_array($this->posts)): $posts = $this->posts ?>
<div class="row">
    <section class="display-list feature-list">
        <?php foreach ($posts as $post): ?>
        <?php echo $this->partial('partials/feature/list-item.phtml', array('post' => $post)) ?>
        <?php endforeach ?>
    </section>
</div>
<?php endif ?>
