<?php if (isset($this->post) && is_object($this->post)): $post = $this->post ?>
    <article class="list-item feature-item large-4 medium-6 columns">
        <a href="<?php echo get_permalink($post) ?>"  title="<?php _e('Meer informatie') ?>">
            <header class="entry-header">
                <?php if (($id = get_post_thumbnail_id($post->ID)) !== ''): ?>
                <div class="entry-image">
                    <span style="background-image: url('<?php echo wp_get_attachment_url($id) ?>')"></span>
                </div>
                <?php endif ?>
                <h3 class="entry-title"><?php echo apply_filters('the_title', $post->post_title) ?></h3>
            </header>
            <?php if (isset($post->post_excerpt) && strlen($post->post_excerpt) > 0): ?>
            <div class="entry-content">
                <?php echo apply_filters('get_the_excerpt', $post->post_excerpt) ?>
            </div>
            <?php endif ?>
            <footer class="entry-footer">
                <span class="readmore button arrow invert"><?php _e('Meer informatie') ?></span>
            </footer>
        </a>
    </article>
<?php endif ?>
