<div class="singular-content std" itemprop="articleBody">
    <h1 class="shortborder">
    	<?php
    		if($texttitle = get_post_meta(get_the_ID(), '_texttitle', true)){
    			echo $texttitle;
    		}
    		else{
    			the_title();
    		}
    		
    	?>
    </h1>
    <?php if (($id = get_post_thumbnail_id()) !== ''): ?>
    <div class="single-image">
        <span style="background-image: url('<?php echo wp_get_attachment_url($id) ?>')"></span>
    </div>
    <?php endif ?>
    <?php the_content() ?>
</div>
