<article class="small-12 medium-4 large-3 columns feature" >
	<a href="<?php echo get_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>">
		<div class="inner">
			<div class="image">
				<?php if(get_post_thumbnail_id(get_the_ID())): ?>
					<?php echo get_the_post_thumbnail(get_the_ID()); ?>
				<?php endif; ?>
			</div>
			<div class="text">
				<h3><?php the_title(); ?></h3>
			</div>
		</div>
	</a>
</article>
