<section class="packref">
	<div class="row this">

		<div class="large-6 columns extra">
			<h2 class="shortborder"><?php printf( __('Meer dan %s tevreden gebruikers.'), get_option('theme_advanced_satisfied') ); ?></h2>
			<?php echo $this->randomReference() ?>
			<a class="readmore button invert arrow" href="<?php echo get_permalink(get_option('theme_page_references')) ?>"><?php _e('Bekijk meer referenties'); ?></a>
		</div>

		<div class="large-6 columns">
			<div class="singular-content padleft">
				<div class="top">
					<em><?php _e('Geschikt voor élk boekhoudpakket, zoals:'); ?></em>
				</div>

				<?php echo $this->listPackages(array('template'=>'partials/package/home-list.phtml')) ?>

				<a class="readmore button invert arrow right" href="<?php echo get_permalink(get_option('theme_page_packages')) ?>"><?php _e('Bekijk alle pakketten'); ?></a>
			</div>
		</div>	

	</div>
	<div class="curve-top"></div>
</section>