<div class="wrap">
    <h2>Thema instellingen</h2>
    <form action="admin.php?page=theme-settings-index" method="post">
        <div class="tabs">
            <ul>
                <li><a href="#tab-contact"><?php _e('Contact instellingen') ?></a></li>
                <li><a href="#tab-socialmedia"><?php _e('Social media') ?></a></li>
                <li><a href="#tab-images"><?php _e('Afbeeldingen') ?></a></li>
                <li><a href="#tab-content"><?php _e('Koppelingen') ?></a></li>
                <li><a href="#tab-advanced"><?php _e('Geavanceerd') ?></a></li>
                <?php if (is_multisite()): ?>
                <li><a href="#tab-multisite"><?php _e('Multisite') ?></a></li>
                <?php endif ?>
            </ul>
            <div id="tab-contact">
                <?php if (($group = $this->form->getDisplayGroup('company')) !== null): ?>
                    <h3><?php _e('Bedrijfgegevens') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>

                <?php if (($group = $this->form->getDisplayGroup('contact')) !== null): ?>
                    <h3><?php _e('Standaard titels contactwidget') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>

            <div id="tab-socialmedia">
                <?php if (($group = $this->form->getDisplayGroup('socialmedia')) !== null): ?>
                    <h3><?php _e('Social media') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
                
                <?php if (($group = $this->form->getDisplayGroup('share')) !== null): ?>
                    <h3><?php _e('Deelmogelijkheid') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>

            <div id="tab-images">
                <?php if (($group = $this->form->getDisplayGroup('thumbnail')) !== null): ?>
                    <h3><?php _e('Afbeeldingen') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>

            <div id="tab-content">
                <?php if (($group = $this->form->getDisplayGroup('page')) !== null): ?>
                    <h3><?php _e('Pagina\'s') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>

                <?php if (($group = $this->form->getDisplayGroup('block')) !== null): ?>
                    <h3><?php _e('Contentblokken') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>

                <?php if (($group = $this->form->getDisplayGroup('attachment')) !== null): ?>
                    <h3><?php _e('Media') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>

                <?php if (($group = $this->form->getDisplayGroup('form')) !== null): ?>
                    <h3><?php _e('Formulieren') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>

            <div id="tab-advanced">
                <?php if (($group = $this->form->getDisplayGroup('hide')) !== null): ?>
                    <h3><?php _e('Verberg CMS-onderdelen') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>

                <?php if (($group = $this->form->getDisplayGroup('advanced')) !== null): ?>
                    <h3><?php _e('Geavanceerd') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>

            <?php if (is_multisite()): ?>
            <div id="tab-multisite">
                <?php if (($group = $this->form->getDisplayGroup('language')) !== null): ?>
                    <h3><?php _e('Taal gerelateerd') ?></h3>
                    <?php echo $group->render($this) ?>
                <?php endif ?>
            </div>
            <?php endif ?>

            <?php wp_nonce_field('form-theme-settings') ?>

            <p class="submit">
                <button type="submit" name="submit" id="submit" class="button-primary"><?php _e('Wijzigingen opslaan') ?></button>
            </p>
        </div>
    </form>
    <script type="text/javascript">
        jQuery(function($) {
            $('div.tabs').tabs({
                activate: function (e, ui) { 
                    $.cookie('selected-tab', ui.newTab.index(), { path: '/' }); 
                }, 
                active: $.cookie('selected-tab')
            });
        });
    </script>
    <style type="text/css">
        .tabs ul { border-bottom: 1px solid #dfdfdf; margin: 2em 0; padding: 0 0 0 5px }
        .tabs ul li { display: inline; margin: 0 1px }
        .tabs ul a { display: inline-block; color: #222; text-decoration: none; font-size: 120%; margin-bottom: -1px; padding: 7px 20px; border: 1px solid #dfdfdf; border-radius: 3px 3px 0 0; background-color: #f1f1f1; background-image: -ms-linear-gradient(top, #f9f9f9, #ececec); background-image: -moz-linear-gradient(top, #f9f9f9, #ececec); background-image: -o-linear-gradient(top, #f9f9f9, #ececec); background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec)); background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec); background-image: linear-gradient(top, #f9f9f9, #ececec); }
        .tabs ul li.ui-state-active a { background: #fff; border-bottom: 1px solid #fff }
    </style>
</div>
