<article class="small-12 medium-6 large-3 columns list-item">
	<?php if(get_post_thumbnail_id(get_the_ID())): ?>
		<img src="<?php echo wp_get_attachment_url( get_post_thumbnail_id(get_the_ID())); ?>" alt="<?php the_title(); ?>"/>
	<?php endif; ?>
	<h3><?php the_title(); ?></h3>
	<span class="function"><?php echo $this->employeeData(get_the_ID(), 'function'); ?></span>
</article>
