<div class="newslist facetsearch" id="faceted-search-container">


	<div class="faceted-search-content post-list" data-equalizer>
		<?php if (have_posts()): ?>
			<?php echo $this->partial('partials/post/list.phtml') ?>
		<?php endif ?>
		<?php wp_reset_query() ?>
	</div>

	<div class="row">
		<div class="faceted-search-footer large-12 columns"> 
		<?php if (isset($this->facetedSearch) && ($this->facetedSearch->getFilter('paginate')->getNumPages() > $this->facetedSearch->getFilter('paginate')->getCurrentPage())): ?>
	 
			<a class="readmore button invert arrow down more-items" href="<?php echo $this->facetedSearch->getFilter('paginate')->getNextLink() ?>"
			   data-current-page="<?php echo $this->facetedSearch->getFilter('paginate')->getCurrentPage() ?>" data-filter-name="paginate"><?php _e('Laad meer berichten') ?>          
			</a>

			<div class="load-indicator">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		<?php endif ?>
		</div>
	</div>

</div>


<script>
	jQuery(function($) {
		$('#faceted-search-container').facetedSearch({
			url: '<?php the_permalink() ?>',
			autoSubmit: true,
			button: '.more-items',
			form: '.form',
			target: '.post-list',
		});
	});
</script>