<div class="singular-header">
    <h1 class="shortborder" itemprop="name"><?php the_title() ?></h1>
</div>

<div class="singular-content std post" itemprop="articleBody">
	<div class="singular-meta">
        <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
        <span class="day"><?php echo get_the_date('d') ?></span>
        <span class="month"><?php echo get_the_date('M') ?></span>
        <span class="year"><?php echo get_the_date('Y') ?></span>
    </div>
    <?php the_content() ?>
</div>

<?php if ($this->moduleActive('share')): ?>
    <?php echo $this->shareThis() ?>
<?php endif ?>

<div class="singular-widgets">
	<?php echo $this->sidebarArea('content-widgets') ?>
</div>

<div class="singular-footer">
    <a class="readmore button invert arrow leftie" href="<?php echo get_permalink(get_option('theme_page_posts')) ?>"><?php echo __('Terug naar overzicht') ?></a>
</div>
