


.inside .button.add-gallery-image { margin: 4px 0 10px; }

.webwijs-gallery-table { margin: 0 0 10px; padding: 0; width: 100%; border: 1px solid #dfdfdf;table-layout: fixed; border-spacing: 0; }
.webwijs-gallery-table tr.alternate-color { background-color: #fcfcfc; }
.webwijs-gallery-table tr { margin: 0; padding: 0; }
.webwijs-gallery-table tr td { margin: 0; padding: 4px 7px 2px; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #fff; }
.webwijs-gallery-table tr:first-child td { border-top: none; }
.webwijs-gallery-table tr td p { margin: 2px 0 .8em; padding: 0; } 

.webwijs-gallery-table .column-icon { margin: 0; padding: 8px; width: 80px; text-align: center; }
.webwijs-gallery-table .column-title .title { color: #21759b; font-weight: bold; text-decoration: none; }
.webwijs-gallery-table .column-title .title:hover { color: #d54e21; }
.webwijs-gallery-table .column-order { width: 40px; text-align: center; }
.webwijs-gallery-table .column-order .sort_order_input { margin: 0; padding: 1px; font-size: 10px; width: 23px; border: 1px solid #ddd; }
.webwijs-gallery-table .column-remove { width: 100px; text-align: center; }
