<?php if (have_posts()): ?>
<div class="large-12 columns">
	<h2>Nieuws</h2>
</div>
<section class="news-list">
	<div class="large-3 medium-6 columns">
		<p>Blijf op de hoogte van het laatste nieuws. Volg onze ontwikkelingen op<br/> <a href="<?php echo get_option('theme_socialmedia_facebook') ?>" target="_blank"><i class="fa fa-facebook-square"></i>Facebook</a> en <a href="<?php echo get_option('theme_socialmedia_twitter') ?>" target="_blank"><i class="fa fa-twitter-square"></i>Twitter</a>.</p>
		<div class=" hide-for-small">
			<a class="readmore topborder" href="<?php echo get_permalink(get_option('theme_page_news')) ?>">Meer nieuws</a>
		</div>		
	</div>
	<div class="large-9 medium-6 columns">
		<div class="row">
		    <?php while (have_posts()): the_post(); ?>
		    <?php echo $this->partial('partials/post/latest-item.phtml') ?>
		    <?php endwhile; ?>
		</div>
	</div>
    <div class="clearfix"></div>
    <div class="small-12 columns show-for-small hide-for-medium-up">
    	<a class="readmore topborder" href="<?php echo get_permalink(get_option('theme_page_news')) ?>">Meer nieuws</a>
    </div>
</section>
<?php endif ?>
