<article class="list-item large-4 columns" itemscope itemtype="http://schema.org/Article">
	<div class="inner">
	    <div class="entry-meta">
	        <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
	        <span><?php echo get_the_date('d') ?> <?php echo get_the_date('F') ?></span>
	    </div>
	    <h2 class="entry-title" itemprop="name">
	        <a href="<?php echo get_permalink() ?>" itemprop="url" class="readmore" title="<?php echo esc_attr(get_the_title()) ?>"><?php the_title() ?></a>
	    </h2>
	</div>
</article>