<a class="list-item blog-item" href="<?php echo get_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>" itemscope itemtype="http://schema.org/Article">
    <div class="entry">
        <div class="entry-meta">
            <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
            <span class="day"><?php echo get_the_date('d') ?></span>
            <span class="month"><?php echo get_the_date('M') ?></span>
            <span class="year"><?php echo get_the_date('Y') ?></span>
        </div>
        <div class="entry-content" itemprop="description">
            <h2><?php the_title() ?></h2>
            <span class="author"><?php _e('door'); ?> <?php echo get_the_author(); ?></span>
            
            <?php echo $this->excerpt() ?>
            <span class="more"><?php _e('Lees meer') ?></span>

        </div>
    </div>
</a>
