<div id="mail-share" class="mail-share-container <?php echo $this->emailShareOpen ?>">
    <div class="mail-share-form-container">
        <header class="mail-share-header">
            <?php echo __('Stuur deze pagina door'); ?>
        </header>
        <div class="mail-share-content std">
        <form method="post" action="<?php echo get_permalink() ?>#mail-share">
            <?php if (isset($this->emailShareNotice) && is_string($this->emailShareNotice)): ?>
                <?php echo $this->emailShareNotice ?>
            <?php endif ?>
            <p><?php echo __('Alle velden met een * zijn verplicht') ?></p>
            <fieldset>
                <dl>
                    <dt><label class="gfield_label" for="addthis-name-input"><?php echo __('Uw naam') ?> *</label></dt>
                    <dd>
                        <input type="text" id="addthis-name-input" name="addthis-name" class="input-name input" value="<?php echo esc_attr($this->nameShareValue) ?>" />
                        <?php if (!empty($this->nameShareError) && is_string($this->nameShareError)): ?>
                        <ul class="errors">
                            <li><?php echo $this->nameShareError ?></li>
                        </ul>
                        <?php endif ?>
                    </dd>
                    <dt><label class="gfield_label" for="addthis-mail-input"><?php echo __('E-mailadres geadresseerde') ?> *</label></dt>
                    <dd>
                        <input type="text" id="addthis-email-input" name="addthis-email" class="input-email input" value="<?php echo esc_attr($this->emailShareValue) ?>" />
                        <?php if (!empty($this->emailShareError) && is_string($this->emailShareError)): ?>
                        <ul class="errors">
                            <li><?php echo $this->emailShareError ?></li>
                        </ul>
                        <?php endif ?>
                    </dd>
                </dl>
            </fieldset>
            <div class="submit clearfix">
                <button class="button blue right" name="addthis-email-submit" type="submit" value="1"><span><span><?php echo __('Verstuur') ?></span></span></button>
            </div>
            <p><?php echo __('Uw gegevens worden niet opgeslagen voor andere doeleinden.') ?></p>
        </form>
        </div>
    </div>
</div>
<script>
    jQuery('.sharethis').on('click', '.mail', function(event) {
        jQuery('#mail-share').toggleClass('open');
    });
</script>
