<?php if (isset($this->elements) && is_array($this->elements)): ?>
<div class="sharethis">
    <h4><?php _e('Deel deze informatie:') ?></h4>
    <?php if (isset($this->elements) && is_array($this->elements)): ?>
        <?php echo $this->partial('partials/sharethis/list.phtml', array('elements' => $this->elements)) ?>
        <?php echo $this->widgetMail(); ?>
    <?php endif ?>
</div>
<?php endif ?>
