<div class="search-form">
    <form role="search" method="get" class="form" action="<?php echo get_site_url() ?>/search/products">
        <div class="search-input-container">
            <input pattern=".{3,}" title="<?php _e('Minimaal 3 karakters'); ?>" required type="text" class="search-input" value="<?php echo esc_attr($this->searchQuery()) ?>" placeholder="<?php _e('Zoeken') ?>" name="search" />
        </div>
        <button type="submit" class="search-submit"><span><?php _e('Zoeken') ?></span></button>
    </form>
</div>
