<div class="search-form">
    <form role="search" method="<?php echo esc_attr($this->method) ?>" class="form" action="<?php echo esc_attr($this->action) ?>">
        <div class="search-input-container">
            <input type="text" class="search-input" value="<?php echo esc_attr($this->searchQuery()) ?>" placeholder="<?php _e('Waar ben je naar opzoek?', 'theme') ?>" name="search" />
        </div>
        <button type="submit" class="search-submit"><span><?php _e('Zoeken', 'theme') ?></span></button>
    </form>
</div>
