<?php $className = (isset($this->class_name) && is_string($this->class_name)) ? $this->class_name : 'gallery-container-1' ?>

<?php if (isset($this->attachment_ids) && is_array($this->attachment_ids)): $attachmentIds = array_values($this->attachment_ids) ?>
    <?php if(count($attachmentIds) > 0): ?>
    <div id="gallery">
        <div class="images slick" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true}'>
            <?php foreach ($attachmentIds as $index => $attachmentId): ?>
                <?php 
                    echo $this->partial('partials/post/gallery/list-item.phtml', array('attachment_id' => $attachmentId)); 
                ?>
            <?php endforeach ?>
        </div>
    </div>
    <?php endif ?>
<?php endif ?>

