<?php $counter = (isset($this->counter) && is_numeric($this->counter)) ? (int) $this->counter : 0 ?>
<?php if (isset($this->attachment_id)): ?>
	<?php
		$imgSlide = wp_get_attachment_image_src($this->attachment_id, 'gallery-slide');
		$imgLarge = wp_get_attachment_image_src($this->attachment_id, 'gallery-large');
	?>
    <a href="<?php echo $imgLarge[0] ?>" class="fancybox" rel="newsimage">
    	<img src="<?php echo $imgSlide[0] ?>" />
    	
    	<span><i class="fa fa-search-plus"></i></span>
    </a>
<?php endif ?>
